<div id="archive_page" class="archive__page page_load">

    <div class="main__container">

        {{!-- {{> language_select}} --}}

        <div class="container">
            <a href="./" class="btn__totop back-top">
                <img src="./assets/img/common/ico_backtotop.png" alt="">
            </a>
        </div>

        <div class="container header__container">
            <div class="container__inner">
                <div class="logo__container">
                    <img src="./assets/img/common/logo_archive_pc.svg" alt="" class="pc">
                    <img src="./assets/img/common/logo_archive_sp.png" alt="" class="sp">
                </div>
            </div>
        </div>
        <!-- .header__container -->

        <div class="container search__container">
            <div class="container__inner">
                <div class="controller__container">
                    <div class="archive__select">
                        {{!--
                        <select name="workLocationArchiveSearch" id="workLocationArchiveSearch" class="btn__list">
                            <option value="000">{{lang 'HOME.SELECT_WORK_LOCATION'}}</option>
                            {{#each workLocations as |location|}}
                            <option value="{{location.work_location_id}}">{{lang 'LOCATIONS' location.work_location_name}} </option>
                            {{/each}}
                        </select> --}}

                        <input list="workingLocationList" placeholder="WORKING LOCATION" id="workingLocationSearchList" class="btn__list workingLocList">
                        <datalist id="workingLocationList">
                            {{#each workLocations as |location|}}
                            <option class="{{location.work_location_name}}" id="{{location.work_location_id}}" name="{{lang 'LOCATIONS' location.work_location_name}}">{{lang 'LOCATIONS' location.work_location_name}} </option>
                            {{/each}}
                        </datalist>

                        <div style="display: none;" class="autocomplete">
                            <input type="text" placeholder="WORKING LOCATION" id="iosWorkingLocationSelect" class="btn__list iosWorkingLocList">
                            <input type="hidden" id="workingLocationIdSelected" value="">
                        </div>

                        <div class="companySearch">
                            <input list="companyDatalist" placeholder="{{lang 'HOME.SELECT_COMPANY'}}" name="companyArchiveSearchList" id="companyArchiveSearchList"
                                class="btn__list company_searchlist">
                            <datalist id="companyDatalist">
                                {{#each companyList as |list|}}
                                <option id="{{list.company_id}}" name="{{lang 'COMPANIES' list.company_name}}">{{lang 'COMPANIES' list.company_name}}</option>
                                {{/each}}
                            </datalist>


                            <div style="display: none;" class="autocomplete">
                                <input type="text" placeholder="{{lang 'HOME.SELECT_COMPANY'}}" id="iosCompanySelect" class="btn__list iosCompanySelectListClass">
                                <input type="hidden" id="idSelected" value="">
                            </div>

                            {{!--
                            <select style="display:none;" id="iosCompanySelect" class="btn__list iosCompanySelectListClass">
                                <option id="">COMPANY</option>

                                {{#each companyList as |list|}}
                                <option id="{{list.company_id}}">{{list.company_name}}</option>
                                {{/each}}
                            </select> --}}

                        </div>
                    </div>

                    <div class="research__container">
                        <input type="submit" class="btn__research" value="">
                        <span class="float--img sp"><img src="./assets/img/common/ico_search_sp.png" alt=""></span>
                    </div>
                </div>
                <!-- .controller__container -->
                <!-- REMOVE PC & SP class to archive__list, retain one -->
                <!-- LOAD FROM DB DEPENDING ON WINDOW SIZE -->
                <div class="archive__list pc">
                    <div class="allUsers">
                        {{#each users as |user|}}
                        <div class="archive__items">
                            <img id="image_{{user.user_id}}" 
                                src="./images/{{user.user_image_filepath}}" 
                                data-userImageFilePath="./images/{{user.user_image_filepath}}"
                                data-userComment="{{user.user_comment1}}" 
                                data-companyName="{{#unless user.company_name}}{{user.custom_company}}{{/unless}}{{lang 'COMPANIES' user.company_name}}"
                                data-workLocation="{{lang 'LOCATIONS' user.work_location_name}}">
                        </div>
                        {{/each}}
                    </div>
                    {{!--
                    <p class="searchResults"></p> --}} {{!--
                    <div class="archive__items">
                        <img src="./assets/img/top/pic_sample.jpg" alt="">
                    </div>
                    <div class="archive__items">
                        <img src="./assets/img/top/pic_sample.jpg" alt="">
                    </div>
                    <div class="archive__items">
                        <img src="./assets/img/top/pic_sample.jpg" alt="">
                    </div>
                    <div class="archive__items">
                        <img src="./assets/img/top/pic_sample.jpg" alt="">
                    </div>
                    <div class="archive__items">
                        <img src="./assets/img/top/pic_sample.jpg" alt="">
                    </div>
                    <div class="archive__items">
                        <img src="./assets/img/top/pic_sample.jpg" alt="">
                    </div>
                    <div class="archive__items">
                        <img src="./assets/img/top/pic_sample.jpg" alt="">
                    </div>
                    <div class="archive__items">
                        <img src="./assets/img/top/pic_sample.jpg" alt="">
                    </div>
                    <div class="archive__items">
                        <img src="./assets/img/top/pic_sample.jpg" alt="">
                    </div>
                    <div class="archive__items">
                        <img src="./assets/img/top/pic_sample.jpg" alt="">
                    </div> --}}
                </div>
                <!-- .archive__list -->
                <div class="archive__list sp">
                    <div class="allUsers">
                        {{#each users as |user|}}
                        <div class="archive__items">
                            <img id="image_{{user.user_id}}" 
                                src="./images/{{user.user_image_filepath}}" 
                                data-userImageFilePath="./images/{{user.user_image_filepath}}"
                                data-userComment="{{user.user_comment1}}" 
                                data-companyName="{{lang 'COMPANIES' user.company_name}}"
                                data-workLocation="{{lang 'LOCATIONS' user.work_location_name}}">
                        </div>
                        {{/each}}
                    </div>
                    {{!--
                    <div class="archive__items">
                        <img src="./assets/img/top/pic_sample.jpg" alt="">
                    </div>
                    <div class="archive__items">
                        <img src="./assets/img/top/pic_sample.jpg" alt="">
                    </div>
                    <div class="archive__items">
                        <img src="./assets/img/top/pic_sample.jpg" alt="">
                    </div>
                    <div class="archive__items">
                        <img src="./assets/img/top/pic_sample.jpg" alt="">
                    </div>
                    <div class="archive__items">
                        <img src="./assets/img/top/pic_sample.jpg" alt="">
                    </div>
                    <div class="archive__items">
                        <img src="./assets/img/top/pic_sample.jpg" alt="">
                    </div>
                    <div class="archive__items">
                        <img src="./assets/img/top/pic_sample.jpg" alt="">
                    </div>
                    <div class="archive__items">
                        <img src="./assets/img/top/pic_sample.jpg" alt="">
                    </div>
                    <div class="archive__items">
                        <img src="./assets/img/top/pic_sample.jpg" alt="">
                    </div> --}}
                </div>
                <!-- .archive__list -->

            </div>
        </div>
        <!-- .archive__container (under orig)-->
        <div class="container loader__container">
            <div class="loader__item"></div>
            <span>LOADING...</span>
        </div>

    </div>
    <!-- .main__container -->

    <div class="modal__container archive__modal" id="modal__01">
        <a href="javascript:void(0)" class="btn__close sp">
            <img src="./assets/img/common/ico_close.png" alt="">
        </a>
        <div class="modal__fix pc">
            <a href="javascript:void(0)" class="btn__close">
                <img src="./assets/img/common/ico_close.png" alt="">
            </a>
        </div>
        <div class="modal__content">
            <div class="image__container">
                <img id="img-userImage" src="./assets/img/common/pic_filtered.jpg" alt="">
                <div class="navigation__container">
                    <a href="javascript:void(0)" class="nav__arrow nav__arrow--left"><img src="./assets/img/common/ico_left.svg" alt=""></a>
                    <a href="javascript:void(0)" class="nav__arrow nav__arrow--right"><img src="./assets/img/common/ico_right.svg" alt=""></a>
                </div> <!-- .navigation__container -->
            </div>
            <div class="details__container">
                <div class="summary__content">
                    <table>
                        <tr>
                            <td class="work_location_modal_label">WORKING LOCATION</td>
                            <td id="td-workLocationModal">JAPAN</td>
                        </tr>
                        <tr>
                            <td class="company_modal_label">COMPANY</td>
                            <td id="td-companyModal">NTT DATA</td>
                        </tr>
                        <tr>
                            <td class="comment_modal_label">COMPANY</td>
                            <td>
                                <span id="MODAL_QUESTION" class="question--span">{{lang 'SELECT.ARCHIVE_COMMENT_HEAD'}}</span>
                                <span id="span-userComment" class="answer--span">
                                    モンゴンアタリデス。モンゴンアタリデス。モンゴンアタ
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- .archive__page -->