<div class="capture__page">
    <div class="main__container">
        <div class="container camera__container">
            <div class="attention__container">
                <div class="container__header">
                    <img src="./assets/img/common/txt_attention.svg" alt="">
                </div>
                <input style="display: none;" type="file" accept="image/*" id="criosCameraInput" name="criosCameraInput">

                <a href="javascript:void(0)"  class="alternativeCamera camera__btn">
                    <img src="./assets/img/common/ico_selectcamera.svg" alt="">
                </a>
                <div class="img__container">
                    <img id="ATTENTION_LABEL" src="./assets/img/common/pic_iosattention.svg" alt="">
                </div>
                <div class="btn__container">
                    <div class="btn__content">
                        <a href="javascript:void(0);" class="alternativeCamera btn__template btn__okay">
                            <img src="./assets/img/common/ico_ok.png" alt="" class="ico__btn">
                            <span class="txt__btn">
                                <img src="./assets/img/common/txt_ok.svg" alt="">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- .attention__container -->
            <div class="capture__container">
                <div id="iosContainer" class="video__container">
                    <!-- REPLACE CODE HERE FOR CAMERA -->
                    <div id="cameraIE"></div>
                    <canvas id="videoCanvas" class="video--mirrored"></canvas>
                    <video style="display: none;" id="iphoneVideo" class="video--mirrored" autoplay playsinline></video>
                    <!-- END -->
                </div>
                <div style="pointer-events: none;" class="overlay__container">
                    <img style="pointer-events: none;" id="picOverlay" src="./assets/img/common/pic_overlay.png" alt="">
                </div>
            </div>
            <div class="btn__capture">
                <div class="btnCapture__inner">
                    <a href="javascript:void(0);" id="btn-snapshot" class="js--btn__capture">
                        <img src="./assets/img/common/ico_shoot.png" alt="" class="pc">
                        <img src="./assets/img/common/ico_shoot_sp.png" alt="" class="sp">
                    </a>
                </div>
            </div>
            <div id="CAPTURE_BACK" class="back__container">
                <a href="javascript:void(0);" class="btn__template btn__back js--btnbckcapture">
                    <img src="./assets/img/common/ico_back.png" alt="" class="ico__btn">
                    <span class="txt__btn">
                        <img src="./assets/img/common/txt_back.svg" alt="">
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- .capture__page -->