<div class="details__page">
    <div class="main__container">
        {{!-- {{> language_select}} --}}

        <div class="container details__container">
            <div class="container__inner">
                <div class="image__container">
                    <img src="./assets/img/common/pic_filtered.jpg" alt="" class="js-img-textualized">
                </div>
                <p id="SHOOTING_DETAILS_INFO">{{{lang 'SHOOTING.DETAILS_INFO'}}}</p>

                <div class="archive__select">
                    {{!--
                    <select name="workLocationSearch" id="workLocationSearch" class="btn__list">
                        <option value="000">{{lang 'HOME.SELECT_WORK_LOCATION'}}</option>
                        {{#each workLocations as |location|}}
                        <option value="{{location.work_location_id}}">{{lang 'LOCATIONS' location.work_location_name}} </option>
                        {{/each}}
                    </select> --}}

                    <input placeholder="{{lang 'MISC.DETAILS_WORK_LOC_PLACEHOLDER'}}" id="workingLocationSaveList" class="btn__list workingLocList">
                    <datalist id="workingLocationListSave">
                        {{#each workLocations as |location|}}
                        <option class="{{location.work_location_name}}" id="{{location.work_location_id}}" name="{{lang 'LOCATIONS' location.work_location_name}}">{{lang 'LOCATIONS' location.work_location_name}} </option>
                        {{/each}}
                    </datalist>

                    <div style="display: none;" class="autocomplete">
                        <input type="text" placeholder="{{lang 'MISC.DETAILS_WORK_LOC_PLACEHOLDER'}}" id="iosWorkingLocationSelectDetails" class="btn__list iosWorkingLocList">
                        <input type="hidden" id="workingLocationIdSelected" value="">
                    </div>

                    {{!--
                    <input type="text" placeholder="COMPANY" name="company" class="btn__list"> --}}
                    <div class="companyDetailsSearch">
                        <input placeholder="{{lang 'MISC.DETAILS_COMPANY_PLACEHOLDER'}}" name="companySearchList" id="companySearchList" class="btn__list company_searchlist">
                        <datalist id="companyDatalist">
                            {{#each companyList as |list|}}
                            <option id="{{list.company_id}}" name="{{lang 'COMPANIES' list.company_name}}">{{lang 'COMPANIES' list.company_name}}</option>
                            {{/each}}
                        </datalist>

                        <div style="display: none;" class="autocomplete">
                            <input type="text" placeholder="{{lang 'MISC.DETAILS_COMPANY_PLACEHOLDER'}}" id="iosDetailsCompanySelect" class="btn__list iosCompanySelectListClass">
                            <input type="hidden" id="idSelected" class="idSelected" value="">
                        </div>

                        {{!--
                        <select style="display:none;" id="iosCompanyDetailSelect" class="btn__list iosCompanyDetailSelectListClass">
                            <option id="">COMPANY</option>

                            {{#each companyList as |list|}}
                            <option id="{{list.company_id}}">{{list.company_name}}</option>
                            {{/each}}
                        </select> --}}

                    </div>
                </div>
                <div class="comment__details">
                    <div class="comment__header">
                        <img id="DETAILS_TXT_QUESTION" src="./assets/img/common/txt_question.svg" alt="">
                        {{!-- <img id="DETAILS_TXT_QUESTION" src="./assets/img/common/txt_question_en.png" alt="" class="pc">

                        <img id="DETAILS_TXT_QUESTION" src="./assets/img/common/txt_question.png" alt="" class="sp">
                        <img id="DETAILS_TXT_QUESTION" src="./assets/img/common/txt_question_en_sp.png" alt="" class="sp"> --}}
                    </div>
                    <div class="comment__content">
                        <ul>
                            <li id="characterCount"></li>
                            <li>
                                <textarea rows="1" id="comment" name="comment" type="text" placeholder="{{{lang 'SHOOTING.DETAILS_COMMENT_BODY'}}}"></textarea>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- .comment__details -->
                {{!-- <div class="terms__container">
                    <div class="container__header">
                        {{{lang 'SHOOTING.TERMS_HEAD'}}}
                    </div>
                    <div class="terms__content">
                        <div class="terms__details">
                            <p>
                                <strong>モンゴンアタリデス。 モンゴンアタリデス。 モンゴンアモンゴンアタリデス。 タリデス。
                                    <br>
                                    <br>モンゴンアタリデス。
                                    <br>モンゴンアタリデス。 モンゴンアタリデス。
                                    <br>
                                    <br>
                                </strong>モンゴンアタリデス。
                                <br>モンゴンアタリデス。 モンゴンアタリデス。 モンゴンアタリデス。 モンゴンアタリデス。 モンゴンアタリデス。 モンゴンアタリデス。 モンゴンアタリデス。 モンゴンアタリデス。 モンゴンアタリデス。 モンゴンアタリデス。 モンゴンアタリデス。 モン </p>
                        </div>
                    </div>
                    <div class="checkbox__container">
                        <label class="container">
                            <input type="checkbox" id="details_checkbox" name="details_checkbox">
                            <span class="checkmark"></span>
                            <span id="SHOOTING_TERMS_CHECK">{{{lang 'SHOOTING.TERMS_CHECK'}}}</span>
                        </label>
                    </div>
                </div> --}}
                <!-- .terms__container -->
                <div class="btn__container">
                    <div class="btn__content">
                        <a href="javascript:void(0);" class="btn__template btn__back js--bck__filteredDownload">
                            <img src="./assets/img/common/ico_back.png" alt="" class="ico__btn">
                            <span class="txt__btn">
                                <img src="./assets/img/common/txt_back.svg" alt="">
                            </span>
                        </a>
                        <a href="javascript:void(0);" id="submitBtn" name="submitBtn" class="btn__template btn__okay js--btn__summary">
                            <img src="./assets/img/common/ico_ok.png" alt="" class="ico__btn">
                            <span class="txt__btn">
                                <img src="./assets/img/common/txt_ok.svg" alt="">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- .btn__container -->
        </div>
        <!-- .details__container -->
    </div>
    <!-- .main__container -->

</div>
<!-- .details__page -->