<div class="filtered__page download">
    <div class="main__container">

        <div class="container filtered__container">
            <div class="container__inner">
                <div class="image__container">
                    <img src="" alt="" class="js-img-textualized">
                </div>
                <p id="SELECT_DOWNLOAD_IMAGE">{{{lang 'SELECT.DOWNLOAD_IMAGE'}}}</p>
                <div class="btn__container">
                    <div class="btn__content">
                        <a href="javascript:void(0);" id="btn-textualized_save" class="btn__template btn__save">
                            <img src="./assets/img/common/ico_save.png" alt="" class="ico__btn">
                            <span class="txt__btn">
                                <img src="./assets/img/common/txt_save.svg" alt="">
                            </span>
                        </a>
                        <a href="javascript:void(0);" class="btn__template btn__back js--bck__filteredConfirm">
                            <img src="./assets/img/common/ico_back.png" alt="" class="ico__btn">
                            <span class="txt__btn">
                                <img src="./assets/img/common/txt_back.svg" alt="">
                            </span>
                        </a>
                        <a href="javascript:void(0);" class="btn__template btn__next js--btn__details">
                            <img src="./assets/img/common/ico_next.png" alt="" class="ico__btn">
                            <span class="txt__btn">
                                <img src="./assets/img/common/txt_next.svg" alt="">
                            </span>
                        </a>
                    </div>
                    {{!--
                    <a href="#" class="btn__back btnRow js--bck__filteredConfirm">
                        <img src="./assets/img/common/ico_back.png" alt="" class="ico__btn">
                        <span class="txt__btn">
                            <img src="./assets/img/common/txt_back.svg" alt="">
                        </span>
                    </a> --}}
                </div>
            </div>
        </div>
        <!-- .filtered__container -->
    </div>
    <!-- .main__container -->

</div>
<!-- .filtered__page download-->