<div class="filtered__page confirm">
    <div class="main__container">

        {{!-- {{> language_select}} --}}

        <div class="container filtered__container">
            <div class="container__inner">
                <div class="image__container">
                    <img src="" alt="" class="js-img-textualized">
                </div>
                <p id="SHOOTING_FILTERED_INFO">{{{lang 'SHOOTING.FILTERED_INFO'}}}</p>
                <div class="btn__container">
                    <div class="btn__content">
                        <a href="javascript:void(0);" class="btn__template btn__back js--bck__filter">
                            <img src="./assets/img/common/ico_back.png" alt="" class="ico__btn">
                            <span class="txt__btn">
                                <img src="./assets/img/common/txt_back.svg" alt="">
                            </span>
                        </a>
                        <a href="javascript:void(0);" class="btn__template btn__okay js--btn__filteredDownload">

                            <img src="./assets/img/common/ico_ok.png" alt="" class="ico__btn">
                            <span class="txt__btn">
                                <img src="./assets/img/common/txt_ok.svg" alt="">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- .filtered__container -->
    </div>
    <!-- .main__container -->
</div>
<!-- .filtered__page -->