<div class="filter__page">
    <div class="main__container">

        {{!-- {{> language_select}} --}}

        <div class="container filter__container">
            <div class="container__inner">
                <div class="image__container">
                    {{!--
                    <img src="./assets/img/common/pic_filter.jpg" alt=""> --}}
                    <div id="div-canvas_filter">
                        <canvas class="video--mirrored" id="canvas_filter"></canvas>
                    </div>
                    <div style="display:none;" id="div-canvas_binarized">
                        <canvas></canvas>
                    </div>
                </div>
                <p id="SHOOTING_FILTER_INFO">{{{lang 'SHOOTING.FILTER_INFO'}}}</p>
                <div class="range__container">
                    <input type="range" min="0.1" max="0.6" value="0.3" step="0.01" class="slider__range" id="slider-contrast_change">
                </div>
                <div class="btn__container">
                    <div class="btn__content">
                        <a href="javascript:void(0);" class="btn__template btn__back js--bck__retake">
                            <img src="./assets/img/common/ico_back.png" alt="" class="ico__btn">
                            <span class="txt__btn">
                                <img src="./assets/img/common/txt_back.svg" alt="">
                            </span>
                        </a>
                        <a href="javascript:void(0)" id="btn-upload" class="btn__template btn__okay js--btn__filteredConfirm">
                            <img src="./assets/img/common/ico_ok.png" alt="" class="ico__btn">
                            <span class="txt__btn">
                                <img src="./assets/img/common/txt_ok.svg" alt="">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- .filter__container -->
    </div>
    <!-- .main__container -->

</div>
<!-- .filter__page -->