<div class="loader__page">
    <div class="main__container">
        <div class="loader__container">
            <div class="loader__item"></div>
            <span id="counter_holder">
                
                <div class="counter" data-count="100">0</div>
                %
            </span>
        </div>
    </div>
    {{!-- <footer>
        <img src="./assets/img/common/logo_footer.png" alt="" class="footer__logo">
    </footer> --}}
</div>
<!-- .loader__page -->