<div class="retake__page">
    <div class="main__container">

        {{!-- {{> language_select}} --}}

        <div class="container retake__container">
            <div class="container__inner">
                <div class="image__container">
                    <img id="img-temporary" src="" alt="">
                    <div id="upload-image"></div>
                    {{!--
                    <img id="upload-image"> --}}
                </div>
                <p id="SHOOTING_RETAKE_INFO">{{{lang 'SHOOTING.RETAKE_INFO'}}}</p>
                {{!-- <div id="trim_ins" class="image__container">
                    <img src="./assets/img/common/instructionCrop_sp.png" alt="">
                </div> --}}
                <div id="imageCropperInstructions" style="display: none !important;" class="image__container sp">
                    {{!--
                    <img src="{{lang 'HOME.PC_INSTRUCTION'}}" alt="" class="pc"> --}}
                    <img src="{{lang 'HOME.SP_INSTRUCTION'}}" alt="" class="sp">
                </div>
                <div class="btn__container">
                    <div class="btn__content">
                        <a href="javascript:void(0);" id="shoot__retake__btn" class="btn__template btn__retake js--bck__capture">
                            <img src="./assets/img/common/ico_retake.png" alt="" class="ico__btn">
                            <span class="shooting txt__btn">
                                <img src="./assets/img/common/txt_retake.svg" alt="">
                            </span>
                        </a>
                        {{!-- <label for="upload" id="shoot__reselect__btn" class="btn__template btn__reselect">
                            <img src="./assets/img/common/ico_reselect.png" alt="" class="ico__btn">
                            <span class="shooting txt__btn">
                                <img src="./assets/img/common/txt_reselect.svg" alt="">
                            </span>
                        </label>
                        <input type="file" id="upload" accept="image/*"> --}}
                        <a href="javascript:void(0);" id="btn-binarize" class="btn__template btn__okay js--btn__filter" data-isupload="false">
                            <img src="./assets/img/common/ico_ok.png" alt="" class="ico__btn">
                            <span class="txt__btn">
                                <img src="./assets/img/common/txt_ok.svg" alt="">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- .retake__container -->
    </div>
    <!-- .main__container -->


</div>
<!-- .retake__page -->