<div class="retake__page">
    <div class="main__container">
        {{!-- {{> language_select}} --}}
        <div class="container retake__container">
            <div class="container__inner">
                <div class="image__container">
                    <img id="img-temporary" class="video--mirrored" src="">
                    <img id="upload-image">

                </div>
                <p id="SELECT_RETAKE_INFO">{{lang 'SELECT.RETAKE_INFO'}}</p>
                {{!--
                <div id="trim_ins" class="image__container" style="display: none;">
                    <img src="{{lang 'HOME.SP_INSTRUCTION'}}" alt="">
                    <img src="./assets/img/common/instructionCrop_sp.png" alt="">
                </div> --}}
                <div class="image__container sp">
                    {{!--
                    <img src="{{lang 'HOME.PC_INSTRUCTION'}}" alt="" class="pc"> --}}
                    <img src="{{lang 'HOME.SP_INSTRUCTION'}}" alt="" class="sp">
                </div>

                <div class="image__container instruction pc">
                    <img src="{{lang 'HOME.PC_INSTRUCTION'}}" alt="" class="pc">
                </div>


                <div class="btn__container">
                    <div class="btn__content">
                        {{!--
                        <a href="javascript:void(0);" id="select__retake__btn" class="btn__template btn__retake js--bck__capture_upload">
                            <img src="./assets/img/common/ico_retake.png" alt="" class="ico__btn">
                            <span class="select txt__btn">
                                <img src="./assets/img/common/txt_retake.svg" alt="">
                            </span>
                        </a> --}}
                        <label id="select__reselect__btn" for="upload" class="btn__template btn__reselect">
                            <img src="./assets/img/common/ico_reselect.png" alt="" class="ico__btn">
                            <span class="select txt__btn">
                                <img src="./assets/img/common/txt_reselect.svg" alt="">
                            </span>
                        </label>
                        <a href="javascript:void(0);" id="btn-binarize" class="btn__template btn__okay js--btn__filter js-crop_image" data-isupload="false">
                            <img src="./assets/img/common/ico_ok.png" alt="" class="ico__btn">
                            <span class="txt__btn">
                                <img src="./assets/img/common/txt_ok.svg" alt="">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- .retake__container -->
    </div>
    <!-- .main__container -->
    <div class="modal__container" id="modal__01">
        <a href="#" class="btn__close">
            <img src="./assets/img/common/ico_close.png" alt="">
        </a>
        <div class="camera__modalcontainer" id="upload__selectedFacingMode" data-selectedFacingMode="">
            <h2 class="prompt__message" id="MISC_MODAL_SELECT_CAMERA">{{lang 'MISC.SELECT_CAMERA'}}</h2>
            <button class="camera__option reupload" id="frontCam__btn" data-facingmode="user">{{lang 'MISC.FRONT_CAMERA'}}</button>
            <button class="camera__option reupload" id="backCam__btn" data-facingmode="environment">{{lang 'MISC.BACK_CAMERA'}}</button>
        </div>
    </div>

</div>
<!-- .retake__page -->