<div class="select__page">
    <div class="main__container">

       
       {{!-- {{> language_select}} --}}

        <div class="container instruction__container">
            <div class="container__header">
                {{!-- <a href="./" class="btn__totop">
                    <img src="./assets/img/common/ico_backtotop.png" alt="">
                </a> --}}
                <img src="./assets/img/common/txt_attention.svg" alt="">
            </div>
            <div class="container__inner">
                <div class="content__container">
                    <div class="header__content">
                        <img src="./assets/img/common/ico_point01.png" alt="">
                        <p id="SELECT_SELECT_INNER_HEAD">{{{lang 'SELECT.SELECT_INNER_HEAD'}}}</p>
                    </div>
                    <div class="content__container">
                        <div class="img__container">
                            <div class="img__item">
                                <img src="./assets/img/common/pic_instruction01.png" alt="">
                            </div>
                            <div class="img__item">
                                <img src="./assets/img/common/pic_instruction02.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .content__container -->
                <div class="content__container">
                    <div class="header__content">
                        <img src="./assets/img/common/ico_point02.png" alt="">
                        <p id="SELECT_SELECT_CONTENT_HEAD">{{{lang 'SELECT.SELECT_CONTENT_HEAD'}}}</p>
                    </div>
                    <div class="content__container">
                        <div class="img__container">
                            <div class="img__item">
                                <img src="./assets/img/common/pic_instruction03.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .content__container -->
                <div class="btn__container with-padding">
                    <div class="btn__content">
                        <a href="./?n=false" class="btn__template btn__back back-top">
                            <img src="./assets/img/common/ico_back.png" alt="" class="ico__btn">
                            <span class="txt__btn">
                                <img src="./assets/img/common/txt_back.svg" alt="">
                            </span>
                        </a>
                        <label id="selectOk__btn" for="upload" class="btn__template btn__okay js--btn__select">
                            <img src="./assets/img/common/ico_ok.png" alt="" class="ico__btn">
                            <span class="txt__btn">
                                <img src="./assets/img/common/txt_ok.svg" alt="">
                            </span>
                        </label>
                        <input type="file" id="upload" accept="image/*">
                    </div>
                </div>
            </div>
        </div>
        <!-- .instruction__container -->
    </div>
    <!-- .main__container -->

</div>