<div class="shooting__page">
    <div class="main__container">
        {{!-- {{> language_select}} --}}

        <div class="container instruction__container">
            <div class="container__header">
                {{!-- <a href="./" class="btn__totop">
                    <img src="./assets/img/common/ico_backtotop.png" alt="">
                </a> --}}
                <img src="./assets/img/common/txt_attention.svg" alt="">
            </div>
            <div class="container__inner">
                <div class="content__container">
                    <div class="header__content">
                        <img src="./assets/img/common/ico_point01.png" alt="">
                        <p id="SHOOTING_SHOOTING_INNER_HEAD">{{{lang 'SHOOTING.SHOOTING_INNER_HEAD'}}}</p>
                    </div>
                    <div class="content__container">
                        <div class="img__container">
                            <div class="img__item">
                                <img src="./assets/img/common/pic_instruction01.png" alt="">
                            </div>
                            <div class="img__item">
                                <img src="./assets/img/common/pic_instruction02.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .content__container -->
                <div class="content__container">
                    <div class="header__content">
                        <img src="./assets/img/common/ico_point02.png" alt="">
                        <p id="SHOOTING_SHOOTING_CONTENT_HEAD">{{{lang 'SHOOTING.SHOOTING_CONTENT_HEAD'}}}</p>
                    </div>
                    <div class="content__container">
                        <div class="img__container">
                            <div class="img__item">
                                <img id="alternativeImage" src="./assets/img/common/pic_instruction03.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .content__container -->
                <div class="btn__container with-padding">
                    <div class="btn__content">
                        <a href="./?n=false" class="btn__template btn__back back-top">
                            <img src="./assets/img/common/ico_back.png" alt="" class="ico__btn">
                            <span class="txt__btn">
                                <img src="./assets/img/common/txt_back.svg" alt="">
                            </span>
                        </a>
                        <a href="javascript:void(0)" id="shootOk__btn" class="btn__template btn__okay js--btn__shooting">
                            <img src="./assets/img/common/ico_ok.png" alt="" class="ico__btn">
                            <span class="txt__btn">
                                <img src="./assets/img/common/txt_ok.svg" alt="">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- .instruction__container -->
    </div>
    <!-- .main__container -->
    <div class="modal__container" id="modal__01">
        <a href="#" class="btn__close close--modal">
            <img src="./assets/img/common/ico_close.png" alt="">
        </a>
        <div class="camera__modalcontainer" id="camera__selectedFacingMode" data-selectedFacingMode="">
            <h2 class="prompt__message" id="MISC_MODAL_SELECT_CAMERA" >{{lang 'MISC.SELECT_CAMERA'}}</h2>
            <button class="camera__option" id="frontCam__btn" data-facingmode="user" >{{lang 'MISC.FRONT_CAMERA'}}</button>
            <button class="camera__option" id="backCam__btn" data-facingmode="environment" >{{lang 'MISC.BACK_CAMERA'}}</button>
        </div>
    </div>
</div>