
<script>
var parameters = parseInt( new Date() /1000 );
var inlineCss = '<style>.main__container03 .bg__container { background: url(./assets/img/common/ntt.gif?'+parameters+') no-repeat left 0 top 50% / 100% auto; } @media screen and (max-width: 768px) { .main__container03 .bg__container { background: url(./assets/img/common/ntt_sp.gif?'+parameters+') no-repeat left 0 top 50% / 100% auto; } }</style>';
document.write(inlineCss);
</script>

<div class="summary__page">
	<div class="main__container01 js-animate">
		<div class="main__container">

			{{!-- {{> language_select}} --}}

			<div class="container summary__container">
				<div class="container__inner">
					<div class="image__container">
						<img src="./assets/img/common/pic_filtered.jpg" id="textualized_image" alt="" class="js-img-textualized">
					</div>
					<p id="SHOOTING_SUMMARY_INFO">{{{lang 'SHOOTING.SUMMARY_INFO'}}}</p>
					<div class="details__container">
						<div class="summary__content">
							<table>
								<tr>
									<td>WORKING LOCATION</td>
									<td id="work_location_summary"></td>
								</tr>
								<tr>
									<td>COMPANY</td>
									<td id="company_summary"></td>
								</tr>
								<tr>
									<td>COMMENT</td>
									<td>
										<span id="SHOOTING_DETAILS_COMMENT_HEAD" class="question--span">{{{lang 'SHOOTING.DETAILS_COMMENT_HEAD'}}}</span>
										<span class="answer--span" id="comment_summary" name="comment_summary">
											モンゴンアタリデス。モンゴンアタリデス。モンゴンアタ
										</span>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="btn__container">
						<div class="btn__content">
							<a href="javascript:void(0)" class="btn__template btn__back js--bck__details">
								<img src="./assets/img/common/ico_back.png" alt="" class="ico__btn">
								<span class="txt__btn">
									<img src="./assets/img/common/txt_back.svg" alt="">
								</span>
							</a>
							<a href="javascript:void(0)" id="confirmBtn" name="confirmBtn" class="btn__template btn__okay btn__summary">
								<img src="./assets/img/common/ico_ok.png" alt="" class="ico__btn">
								<span id="txt_ok" class="txt__btn">
									<img src="./assets/img/common/txt_ok.svg" alt="">
								</span>
							</a>
						</div>
					</div>
				</div>
				<!-- .btn__container -->
			</div>
			<!-- .summary__container -->
		</div>
		<!-- .main__container -->
	</div>
	<!-- .main__container01 -->

	<div class="main__container03">

		<div class="bg__container">
		</div>
	</div>
	<!-- .main__container03 -->

	<div class="main__container02">

		<div class="container__center pc">
			<div class="img__container pc">
				<div class="img__item">
					<img src="./assets/img/samp/img_1.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_6.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_2.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_8.png" alt="">
				</div>
				<div class="img__item">
					<img class="image_user" src="" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_5.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_4.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_7.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_3.png" alt="">
				</div>
				<!-- . center items -->
				<div class="addedtopbtm__container top">
					<div class="img__item">
						<img src="./assets/img/samp/img_6.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_5.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_4.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_7.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_3.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_8.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_3.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_6.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_5.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_4.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_7.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_3.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_8.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_3.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_7.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_3.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_8.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_3.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_7.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_3.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_8.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_3.png" alt="">
					</div>
				</div> <!-- .addedtopbtm__container .top -->
				<div class="addedtopbtm__container btm">
					<div class="img__item">
						<img src="./assets/img/samp/img_6.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_5.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_4.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_7.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_3.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_8.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_3.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_6.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_5.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_4.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_6.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_5.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_4.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_7.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_3.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_8.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_3.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_6.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_5.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_4.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_5.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_4.png" alt="">
					</div>
				</div> <!-- .addedtopbtm__container .btm -->
				<div class="addedleftright__container left">
					<div class="img__item">
						<img src="./assets/img/samp/img_6.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_5.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_4.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_7.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_3.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_8.png" alt="">
					</div>
				</div> <!-- .addedleftright__container .left -->
				<div class="addedleftright__container right">
					<div class="img__item">
						<img src="./assets/img/samp/img_6.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_5.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_4.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_7.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_3.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_8.png" alt="">
					</div>
				</div> <!-- .addedleftright__container .right -->
				<div class="added__container left">
					<div class="img__item">
						<img src="./assets/img/samp/img_7.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_3.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_4.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_2.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_6.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_5.png" alt="">
					</div>
				</div>
				<!-- .left container -->
				<div class="added__container right">
					<div class="img__item">
						<img src="./assets/img/samp/img_1.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_7.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_4.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_6.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_8.png" alt="">
					</div>
					<div class="img__item">
						<img src="./assets/img/samp/img_3.png" alt="">
					</div>
				</div>
				<!-- . right container -->
			</div>
			<!-- .img__container pc-->
		</div>
		<!-- .container__center -->

		<div class="img__container sp">

			{{!-- {{#each images}}

			<div class="img__item">
				<img id="image_{{this}}" src="./images/{{this}}" alt="">
			</div>

			{{/each}} --}}


			<div class="img__item">
				<img src="./assets/img/samp/img_1.png" alt="">
			</div>
			<div class="img__item">
				<img src="./assets/img/samp/img_6.png" alt="">
			</div>
			<div class="img__item">
				<img src="./assets/img/samp/img_2.png" alt="">
			</div>
			<div class="img__item">
				<img src="./assets/img/samp/img_8.png" alt="">
			</div>
			<div class="img__item">
				<img class="image_user" src="" alt="">
			</div>
			<div class="img__item">
				<img src="./assets/img/samp/img_5.png" alt="">
			</div>
			<div class="img__item">
				<img src="./assets/img/samp/img_4.png" alt="">
			</div>
			<div class="img__item">
				<img src="./assets/img/samp/img_7.png" alt="">
			</div>
			<div class="img__item">
				<img src="./assets/img/samp/img_3.png" alt="">
			</div>

			<div class="addedtopbtm__container top">
				<div class="img__item">
					<img src="./assets/img/samp/img_6.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_5.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_4.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_7.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_3.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_8.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_6.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_5.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_4.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_7.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_3.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_8.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_6.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_5.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_4.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_7.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_3.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_8.png" alt="">
				</div>
			</div> <!-- .addedtopbtm__container .top -->
			<div class="addedtopbtm__container btm">
				<div class="img__item">
					<img src="./assets/img/samp/img_6.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_5.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_4.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_7.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_3.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_8.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_6.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_5.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_4.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_7.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_3.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_8.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_6.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_5.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_4.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_7.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_3.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_8.png" alt="">
				</div>
			</div> <!-- .addedtopbtm__container .btm -->
			<div class="added__container left">
				<div class="img__item">
					<img src="./assets/img/samp/img_7.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_3.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_4.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_2.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_6.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_5.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_2.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_6.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_5.png" alt="">
				</div>
			</div>
			<!-- .left container -->
			<div class="added__container right">
				<div class="img__item">
					<img src="./assets/img/samp/img_1.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_7.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_4.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_6.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_8.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_3.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_2.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_6.png" alt="">
				</div>
				<div class="img__item">
					<img src="./assets/img/samp/img_5.png" alt="">
				</div>
			</div>
			<!-- . right container -->
		</div>
		<!-- .img__container -->
	</div>
	<!-- .main__container02 -->

</div>
<!-- .summary__page -->