<footer id="footer">
    <img src="./assets/img/common/logo_footer.png" alt="" class="footer__logo">
</footer>


<script>
    Math.log2 = Math.log2 || function(x){return Math.log(x)*Math.LOG2E;};
</script>

<script src="./assets/js/vendor/jquery-3.1.1.min.js"></script>
<script src="./assets/js/vendor/jquery.mobile.custom.min.js"></script>

<script src="./assets/js/global.js"></script>
<script src="./assets/js/vendor/jquery.matchHeight-min.js"></script>
<script src="./assets/js/vendor/awesomplete.min.js"></script>

<script src="/assets/js/vendor/datalist.polyfill.js"></script>
<script src="./assets/js/vendor/bluebird.js"></script>
<script src="./assets/js/vendor/moment.min.js"></script>
<script src="./assets/js/vendor/moment-timezone.min.js"></script>
{{!-- <script src="//cdn.jsdelivr.net/bluebird/3.5.0/bluebird.min.js"></script> --}}

<script src="/assets/js/vendor/webcam.js"></script>
{{!-- <script src="/assets/js/vendor/adapter.js"></script> --}}



{{!-- <script>window.jQuery || document.write('<script src="./assets/js/vendor/jquery-3.1.1.min.js"><\/script>')</script> --}}


<script src="/assets/js/vendor/datalist.js"></script>
<script src="./assets/js/autocomplete.js"></script>

<script src="/assets/js/archive.js"></script>

<script src="/assets/js/vendor/croppie.min.js"></script>
<script src="/assets/js/vendor/exif.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.js"></script>
<script src="./assets/js/main.js"></script>

<script src="/assets/js/languages.js"></script>
<script src="./assets/js/locale.js"></script>
<script src="./assets/js/validations.js"></script>
<script src="./assets/js/loader_counter.js"></script>
<script src="./assets/js/image-navigation.js"></script>
