<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">
		<meta name="robots" content="noindex">
		<title>NTT DATA Visionary Portraits</title>
		<!-- META INFO -->
		<!-- <meta name="description" content="">
		<meta name="keywords" content="">
		<meta property="og:title" content="トップ">
		<meta property="og:type" content="website">
		<meta property="og:description" content="">
		<meta property="og:url" content="./">
		<meta property="og:image" content="./assets/img/og.png">-->
		<!-- FAVICON -->
		<link rel="shortcut icon" href="./assets/img/common/favicon.ico" type="image/vnd.microsoft.icon">
		<link rel="icon" href="./assets/img/common/favicon.ico" type="image/vnd.microsoft.icon">
		<!-- CSS -->
		<link rel="stylesheet" href="./assets/css/normalize.css">
		<link rel="stylesheet" href="./assets/css/main.css">
		<link rel="stylesheet" href="./assets/css/style.css">
		<link rel="stylesheet" href="./assets/css/croppie.css">
		<link rel="stylesheet" href="./assets/css/awesomplete.css">

		<!-- SCRIPT -->
		<script src="./assets/js/vendor/modernizr-2.8.3.min.js"></script>
		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
		<script>
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='//www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','UA-XXXXX-X','auto');ga('send','pageview');
		</script> -->
	</head>
