<div class="language__container">
    <div class="language__list">
        <a href="#" id="locale_change_jp" data-lang="jp" class="locale_change lang__jp active">
            <img src="./assets/img/common/ico_lang_jp.svg" alt="">
        </a>
        <a href="#" id="locale_change_en" data-lang="en" class="locale_change lang__en">
            <img src="./assets/img/common/ico_lang_en.svg" alt="">
        </a>
    </div>
</div>