.video--mirrored
{
  width: 100%;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
}

.canvas--fit{
  width:  100%;
  height: 100%;
  margin: 0px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
}
.rotate-90 {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate-180 {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate-270 {
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.flip {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flip-and-rotate-90 {
  -moz-transform: rotate(90deg) scaleX(-1);
  -webkit-transform: rotate(90deg) scaleX(-1);
  -o-transform: rotate(90deg) scaleX(-1);
  transform: rotate(90deg) scaleX(-1);
}

.flip-and-rotate-180 {
  -moz-transform: rotate(180deg) scaleX(-1);
  -webkit-transform: rotate(180deg) scaleX(-1);
  -o-transform: rotate(180deg) scaleX(-1);
  transform: rotate(180deg) scaleX(-1);
}

.flip-and-rotate-270 {
  -moz-transform: rotate(270deg) scaleX(-1);
  -webkit-transform: rotate(270deg) scaleX(-1);
  -o-transform: rotate(270deg) scaleX(-1);
  transform: rotate(270deg) scaleX(-1);
}


.datalist-polyfill {
	list-style: none;
	display: none;
	background: white;
	box-shadow: 0 2px 2px #999;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	max-height: 300px;
	overflow-y: auto;
}

.datalist-polyfill:empty {
	display: none !important;
}

.datalist-polyfill > li {
  padding: 3px;
  font: 13px "Lucida Grande", Sans-Serif;
}
    
.datalist-polyfill__active {
  background: #3875d7;
  color: white;
}

.camera__modalcontainer {
  margin-top: 130px;
}
.camera__option  { 
  display: block; 
  width: 255px; 
  margin: 30px auto 0; 
  background: #0081ba; 
  border: 0; 
  border-radius: 3px; 
  box-shadow: 1px 1px 1px -1px #cdcdcd; 
  font-size: 20px;
  padding: 10px; 
  color: #fff;
}

.prompt__message {
  font-size: 20px; 
  color: #fff; 
  text-align: center; 
  font-weight: bold;
}

/*.btnCapture__inner {
  position:  absolute;
  top: 50%;
  right:  0;
  left:  0;
  transform: translateY(-50%);
  display: block;
}*/

.autocomplete * {box-sizing: border-box;}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: block;
}
.autocomplete input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
.autocomplete input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
.autocomplete input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  /* margin-left: 11%; */
  /* margin-right: 11%; */
  max-height: 500px;
  overflow-y: auto;
  /* overflow: auto; */
}

/* #iosCompanySelectautocomplete-list {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  margin-left: 15%;
  margin-right: 15%;
  overflow-y: auto;
  max-height: 500px;
} */

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  /* margin-left: %; */
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}