/**************************************
archive__page
***************************************/

.archive__page {
	display: block;
	background-image: url('../img/top/bg_01.png');
	background-position: top center;
	background-size: 100% auto;

	.main__container {
		padding-bottom: 90px;
		background: none;

		.header__container {
			padding-top: 50px;

			.container__inner {
				.logo__container {
					margin: 0 auto;
					width: 380px;

					img {
						min-width: 380px;
					}
				}
			}
		}

		.search__container {
			margin-top: 35px;

			.container__inner {
				text-align: center;

				.controller__container {
					display: block;
					@include clearfix;

					.archive__select {
						float: left;
						display: block;

						.btn__list {
							width: 510px;
							background-position: 485px 13px;
							padding: 0 42px;
						}

						.btn__list:nth-child(2) {
							margin-top: 5px;
						}
					}
				}
			}
		}

		.loader__container {
			margin-top: 25px;
			display: none;
			position: relative;
			padding-bottom: 26px;
			text-align: center;

			.loader__item {
				width: 50px;
				height: 50px;
				border-width: 5px;
				margin: 0 auto;
			}

			span {
				display: block;
				font-family: $fontFamily;
				color: $blue;
				margin-top: 10px;
				font-size: 15px;
			}
		}
	}
}

/******************************
    search sp
*******************************/

@include media($mobileSize) {
	
	.archive__page {
		position: relative;
		background-image: url('../img/common/bg_02.jpg');

		.main__container {
			padding-bottom: 0;
			min-height: calc(100vh - 31px);
			background-image: none;

			.container {

				.btn__totop {
					margin-left: 13px;
					display: block;
					width: 28px;
					top: 13px;
					@include transition;
					@include hoverOpacity;
				}
			}

			.header__container {
				padding-top: 60px;

				.container__inner {
					.logo__container {
						margin: 0 auto;
						width: 65%;

						img {
							min-width: auto;
						}
					}
				}
			}

			.search__container {
				margin-top: 0;
				padding: 0 5px;
				box-sizing: border-box;

				.container__inner {
					.controller__container {
						margin: 0 auto;
						width: 82%;

						.archive__select,
						.research__container {
							float: none;

							.btn__research {
								margin-top: 15px;
								background-repeat: no-repeat;
								background-size: 22% auto;
							}
						}

						.research__container {
							position: relative;

							.btn__research {
								background-image: none;
							}

							.float--img {
								position: absolute;
								top: 50%;
								left: 0;
								right: 9%;
								transform: translateY(-50%);
								margin: 0 auto;
								width: 23.4vw;
								max-width: 110px;
							}
						}

						.archive__select {
							padding-top: 25px;

							.btn__list {
								width: 100%;
								padding: 0 20px;
								font-size: 2.5vw;

								&:nth-child(2) {
									margin-top: 15px;
								}
							}
						}
					}
				}

				.archive__list {
					margin-top: 15px;
					padding-bottom: 26px;

					.archive__items {
						width: calc(33.33% - 2.67px);
						margin-right: 4px;
					}
				}
			}

			.loader__container {
				display: none;
				position: relative;
				margin-top: -15px;
				padding-bottom: 15px;

				.loader__item {
					width: 40px;
					height: 40px;
					border-width: 5px;
				}

				span {
					font-size: 7px;
					font-weight: bold;
				}
			}
		}
	}
}