/**************************************
	base
***************************************/
/* ---------------------------------------------------------
スタイルリセット
----------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6,td,th,p,ul,li,dt,dd {
	font-size: 1em;
}

ul li {
	list-style: none;
}

article, header, footer, aside, figure, figcaption, nav, section { 
	display:block;
}

body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

img {
	vertical-align: bottom;
}

$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);

/* ---------------------------------------------------------
変数
----------------------------------------------------------*/
/*break point
-----------------------*/
$pcSize: 1040px;
$mobileSize: 768px;

/*color
-----------------------*/
$white: #fff;
$black: #000;
$purple: #4c5782;
$violet: #576691;
$blue: #0081ba;
$lightBlue: #07aedb;

/*font family
-----------------------*/
$fontFamily: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif; 
//$fontFamily2: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", sans-serif;
$fontFamily2: "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", sans-serif;

/* ---------------------------------------------------------
mixin
----------------------------------------------------------*/
/*メディアクエリ
-----------------------*/
@mixin media($breakPoint) {
	@media screen and (max-width: $breakPoint) {
		@content;
	}
}
/*  clearfix
-----------------------*/
@mixin clearfix(){
	&::before,
	&::after{
		content: '';
		display: table;
	}
	&::after{
		clear: both;
	}
}
/*  font-size
-----------------------*/
@mixin fontsize($size: 14, $base: 14) {
	font-size: $size + px;
	font-size: ($size / $base) * 1rem;
}
/*  transition
-----------------------*/
@mixin transition {
	transition: all .2s linear;
}

@mixin hoverOpacity {
	&:hover {
		opacity: .7;
	}
}
/* render text
----------------------*/
@mixin renderText {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
/* ---------------------------------------------------------
初期設定
----------------------------------------------------------*/
html {
	color: $black;
	background-color: $white;
	@include fontsize;
	line-height: 1.2;
	letter-spacing: normal;
}

body {
	font-family: $fontFamily2;
}

html,
body {
	position: relative;
	min-width: $pcSize;
}


a {
	text-decoration:none;
	color: $black;
}

img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

p {
	color: $purple;
	font-size: 14px;
}


table {
	width: 100%;
	border-collapse: collapse;
}

.clearfix {
	@include clearfix;
}


/******************************
 	base sp
*******************************/

@include media($mobileSize) {
	html {
		min-width: 100%;
	}
}