/**************************************
child
***************************************/

@supports (-ms-ime-align:auto) {
	.child {

		.comment__content {
			ul {
				li {
					textarea {
						line-height: 1 !important;
					}
				}
			}
		}

		.main__container {
			overflow: hidden;

			.filter__container {
				.container__inner {
					.range__container {
						.slider__range {
							margin-top: -16px !important;
							height: 62px !important;
							background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1252 3'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%234c5782;stroke:%234c5782;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.5px;%7d%3c/style%3e%3c/defs%3e%3ctitle%3eAsset 3%3c/title%3e%3cg id='Layer_2' data-name='Layer 2'%3e%3cg id='Layer_1-2' data-name='Layer 1'%3e%3crect class='cls-1' x='1.25' y='1.25' width='266' height='0.5'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e") !important;
							background-size: auto 6px !important;
							background-position: left !important;
							background-repeat: no-repeat!important;
							border-radius: 0 !important;
						}
					}
				}
			}

			.retake__container {
				.container__inner {
					.range__container {
						.slider__range {
							margin-top: -16px !important;
							height: 62px !important;
							background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1252 3'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%234c5782;stroke:%234c5782;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.5px;%7d%3c/style%3e%3c/defs%3e%3ctitle%3eAsset 3%3c/title%3e%3cg id='Layer_2' data-name='Layer 2'%3e%3cg id='Layer_1-2' data-name='Layer 1'%3e%3crect class='cls-1' x='1.25' y='1.25' width='266' height='0.5'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e") !important;
							background-size: auto 6px !important;
							background-position: left !important;
							background-repeat: no-repeat!important;
							border-radius: 0 !important;
						}
					}
				}
			}
		}

		.main__container03 {

			.bg__container {
				opacity: 1 !important;
			}
		}
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.block {
		display: block !important;
	}

	.range__container + .btn__container {
		margin-top: 0 !important;
	}

	.child {

		.comment__content {
			ul {
				li {
					textarea {
						line-height: 1 !important;
					}
				}
			}
		}

		.main__container {
			overflow: hidden;

			.filter__container {
				.container__inner {
					.range__container {
						.slider__range {
							margin-top: -31px !important;
							height: 62px !important;
							background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1252 3'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%234c5782;stroke:%234c5782;stroke-linecap:round;stroke-linejoin:round;stroke-width:12px;%7d%3c/style%3e%3c/defs%3e%3ctitle%3eAsset 3%3c/title%3e%3cg id='Layer_2' data-name='Layer 2'%3e%3cg id='Layer_1-2' data-name='Layer 1'%3e%3crect class='cls-1' x='1.25' y='1.25' width='2000' height='0.5'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e") !important;
							background-size: auto !important;
							background-position: left !important;
							background-repeat: no-repeat!important;
							border-radius: 0 !important;
						}
					}
				}
			}

			.retake__container {
				.container__inner {
					.instruction {
						margin-top: -30px !important;
					}

					.range__container {
						.slider__range {
							margin-top: -45px !important;
							height: 62px !important;
							background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1252 3'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%234c5782;stroke:%234c5782;stroke-linecap:round;stroke-linejoin:round;stroke-width:12px;%7d%3c/style%3e%3c/defs%3e%3ctitle%3eAsset 3%3c/title%3e%3cg id='Layer_2' data-name='Layer 2'%3e%3cg id='Layer_1-2' data-name='Layer 1'%3e%3crect class='cls-1' x='1.25' y='1.25' width='2000' height='0.5'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e") !important;
							background-size: auto !important;
							background-position: left !important;
							background-repeat: no-repeat!important;
							border-radius: 0 !important;
						}
					}
				}
			}
		}

		.slider__range {
			background: none !important;
		}

		.range__container::before {
			font-size: 20px;
		}
	}
}

.child {

	.select__page,
	.shooting__page {
		display: block;
	}

	.capture__page,
	.retake__page,
	.filter__page,
	.loader__page,
	.filtered__page,
	.details__page,
	.summary__page,
	.archive__page {
		display: none;
	}

	.main__container01 {
		//display: block;
		opacity: 0;
		visibility: hidden;
		transition:
		opacity 1.5s $easeInOutSine,
		visibility 1.5s $easeInOutSine;

		&.js-animate {
			opacity: 1;
			visibility: visible;
		}
	}

	.main__container02 {
		display: none;
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		opacity: 0;
		z-index: 15;
		transition:
			opacity 1s $easeInOutSine,
			visibility 1s $easeInOutSine;

		&.js-animate {
			opacity: 1;
			visibility: visible;
		}

		@media only screen and (min-width: 769px) and (max-width: 1039px) {
			min-width: 810px;
		}

		img {
			transition:
				opacity 1s $easeInOutSine,
				width 1s $easeInOutSine;
		}

		.img__container {
			margin: 0 auto;
			width: 150%;
			height: 100vh;
			max-width: 1040px;
			position: relative;
			opacity: 1;
			transform-origin: 25% 50%;
			@include clearfix;

			&.reverse {
				transform: scale(0.05);
				opacity: 0;
				transition:
				transform 3s $easeInOutSine,
				opacity 3s $easeInOutSine 1s;
				z-index: 1;
			}

			&.pc {
				width: 810px;
				max-width: 810px;
			}

			.addedtopbtm__container {
				position: absolute;
				left: -1080px;
				width: 2890px;
				height: 66.66vh;
				@include clearfix;

				&.top {
					top: -66.66vh;
				}

				&.btm {
					bottom: -66.66vh;
				}

				.img__item {
					width: 14.29%;
					top: 0 !important;

					&:nth-of-type(n+12) {
						top: 50% !important;
					}

					&:nth-of-type(1) {
						left: 0%;
						z-index: 1;
					}

					&:nth-of-type(2) {
						left: 9.09%;
						z-index: 1;
					}

					&:nth-of-type(3) {
						left: 18.18%;
						z-index: 1;
					}

					&:nth-of-type(4) {
						left: 27.27%;
						z-index: 1;
					}
					&:nth-of-type(5) {
					left: 36.36%;
					z-index: 1;
					}
					&:nth-of-type(6) {
					left: 45.45%;
					z-index: 1;
					}
					&:nth-of-type(7) {
					left: 54.54%;
					z-index: 1;
					}
					&:nth-of-type(8) {
					left: 63.63%;
					z-index: 1;
					}
					&:nth-of-type(9) {
					left: 72.72%;
					z-index: 1;
					}
					&:nth-of-type(10) {
					left: 81.81%;
					z-index: 1;
					}
					&:nth-of-type(11) {
					left: 90.9%;
					z-index: 1;
					}
					&:nth-of-type(12) {
					left: 0%;
					z-index: 1;
					}
					&:nth-of-type(13) {
					left: 9.09%;
					z-index: 1;
					}
					&:nth-of-type(14) {
					left: 18.18%;
					z-index: 1;
					}
					&:nth-of-type(15) {
					left: 27.27%;
					z-index: 1;
					}
					&:nth-of-type(16) {
					left: 36.36%;
					z-index: 1;
					}
					&:nth-of-type(17) {
					left: 45.45%;
					z-index: 1;
					}
					&:nth-of-type(18) {
					left: 54.54%;
					z-index: 1;
					}
					&:nth-of-type(19) {
					left: 63.63%;
					z-index: 1;
					}
					&:nth-of-type(20) {
					left: 72.72%;
					z-index: 1;
					}
					&:nth-of-type(21) {
					left: 81.81%;
					z-index: 1;
					}
					&:nth-of-type(22) {
					left: 90.9%;
					z-index: 1;
					}
				}
			}

			.addedleftright__container {
				position: absolute;
				top: 0;
				width: 540px;
				height: 100vh;
				@include clearfix;

				&.left {
					left: -1080px;
				}
				&.right {
					right: -1080px;
				}

				.img__item {
					width: 50%;

					&:nth-of-type(odd) {
						left: 0;
					}

					&:nth-of-type(even) {
						left: 50%;
					}

					&:nth-of-type(1),
					&:nth-of-type(2) {
						top: 0;
					}

					&:nth-of-type(3),
					&:nth-of-type(4) {
						top: 33.33%;
					}

					&:nth-of-type(5),
					&:nth-of-type(6) {
						top: 66.66%;
					}
				}
			}

			.added__container {
				width: 500px;
				height: 100vh;
				@include clearfix;

				&.left {
					position: absolute;
					left: -540px;

					.img__item {
						&:nth-of-type(1) {
						left: 0%;
						z-index: 1;
						}

						&:nth-of-type(2) {
						right: 0%;
						z-index: 1;
						}
						&:nth-of-type(3) {
						top: 33.34%;
						left: 0%;
						z-index: 2;
						}
						&:nth-of-type(4) {
						top: 33.34%;
						right: 0%;
						z-index: 2;
						}
						&:nth-of-type(5) {
						top: 66.67%;
						left: 0%;
						z-index: 2;
						}
						&:nth-of-type(6) {
						top: 66.67%;
						right: 0;
						z-index: 2;
						}
					}
				}

				&.right {
					position: absolute;
					right: -540px;
					.img__item {
					&:nth-of-type(1) {
					left: 0;
					z-index: 1;
					}
					&:nth-of-type(2) {
					right: 0%;
					z-index: 1;
					}
					&:nth-of-type(3) {
					top: 33.34%;
					left: 0%;
					z-index: 2;
					}
					&:nth-of-type(4) {
					top: 33.34%;
					right: 0%;
					z-index: 2;
					}
					&:nth-of-type(5) {
					top: 66.67%;
					left: 0%;
					z-index: 2;
					}
					&:nth-of-type(6) {
					top: 66.67%;
					right: 0;
					z-index: 2;
					}
				}
			}

			.img__item {
				width: 50%;

				&:nth-of-type(-n+3) {
				top: auto;
				}
				&:nth-last-child(-n+3) {
				bottom: auto;
				}
				&:nth-of-type(-n+2) {
				top: 0;
				}
				&:nth-last-child(-n+2) {
				top: auto;
				bottom: 0;
				}
				&:nth-of-type(3),
				&:nth-of-type(4) {
					top: 33.33%;
				}
				&:nth-of-type(5) {
					top: 66.67%;
				}
				&:nth-of-type(odd) {
					left: 0 !important;
				}
				&:nth-of-type(even) {
					left: auto !important;
					right: 0 !important;
				}
			}
		}

		.img__item {
			position: absolute;
			width: 33.33%;
			height: 33.33vh;
			// height: auto;
			overflow: hidden;

			img {
				width: auto;
				margin: 0 auto;
				// max-height: 100%;
				// max-width: 250px;
				max-width: 100%;
				max-height: 100%;
				display: block;
				opacity: 1;
				animation: fade-in 4s;
			}

			@keyframes fade-in {
				0% { opacity: 0; }
				100% { opacity: 1; }
			}

			&:nth-of-type(-n+3) {
			top: 0;
			}
			&:nth-last-child(-n+3) {
			bottom: 0;
			}
			&:nth-of-type(1) {
			left: 0%;
			z-index: 1;
			}
			&:nth-of-type(2) {
			left: 33.33%;
			z-index: 2;
			}
			&:nth-of-type(3) {
			left: 66.67%;
			z-index: 2;
			}
			&:nth-of-type(4) {
			top: 33.34%;
			left: 0%;
			z-index: 2;
			}
			&:nth-of-type(5) {
			top: 33.34%;
			left: 33.33%;
			text-align: center;
			}
			&:nth-of-type(6) {
			top: 33.34%;
			left: 66.67%;
			z-index: 2;
			}
			&:nth-of-type(7) {
			top: 66.67%;
			left: 0%;
			z-index: 2;
			}
			&:nth-of-type(8) {
			top: 66.67%;
			left: 33.33%;
			z-index: 2;
			}
			&:nth-of-type(9) {
			top: 66.67%;
			left: 66.67%;
			z-index: 2;
			}
			}
		}
	}

	.main__container03 {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: #fff;
		z-index: 17;
		opacity: 0;
		visibility: hidden;
		/* transition:
			opacity 1.3s $easeInOutSine 5.1s,
			visibility 1.3s $easeInOutSine 5.1s; */

		.bg__container {
			width: 100%;
			height: 100%;
			/* background: url(../img/common/ntt.gif) no-repeat left 0 top 50% / 110% auto;
			transition: background 1s $easeInOutSine 5.1s; */
		}

		&.js-animate {
			opacity: 1;
			visibility: visible;

			/* .bg__container {
				background: url(../img/common/ntt.gif) no-repeat left 0 top 50% / 100% auto;
			} */
		}
	}

	.loader__page {
		.main__container {
			position: relative;
			width: 100vw;

			.loader__container {
				position: absolute;
				width: 80px;
				height: 80px;
				top: 50%;
				left: 0;
				right: 0;
				margin: 0 auto;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				transform: translateY(-50%);

				span {
					display: block;
					position: absolute;
					top: 50%;
					left: 0;
					right: 0;
					text-align: center;
					color: $blue;
					font-size: 14px;
					letter-spacing: 0.04em;
					font-weight: bold;
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					transform: translateY(-50%);

					.counter {
						display: inline-block;
					}
				}
			}
		}
	}

	.main__container {
		background-image: url('../img/common/bg_01.jpg');
		background-position: top center;
		background-size: 100% 100%;
		min-height: calc(100vh - 55.66px);

		.camera__container {
			width: 100%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			right: 0;

			.attention__container {
				display: none;

				&.en {
					.img__container {
						width: 79vw;
						max-width: 510px;
					}
				}

				.container__header {
					padding-top: 10%;
					margin: 0 auto;
					width: 33vw;
					max-width: 206px;
				}

				.camera__btn {
					margin: 140px auto 0;
					display: block;
					width: 10vw;
					max-width: 60px;
					@include transition;
					@include hoverOpacity;
				}

				.img__container {
					margin: 20px auto 140px;
					width: 63vw;
					max-width: 401px;
				}

				.btn__container {
					.btn__content {
						.btn__okay {
							position: relative;
							background: $blue;
							margin: 0 auto;
							width: 122px;
							display: block;
							padding: 8px 0;
							border-radius: 5px;
							box-sizing: border-box;
							@include transition;
							@include hoverOpacity;

							.ico__btn {
								width: 15px;
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								left: 15%;
								float: none;
								margin-top: 0;
							}

							span {
								display: block;
								float: none;
								left: 0;
								right: 0;
								margin: 0 auto !important;
								padding-left: 5%;
								width: 17px;
								padding-bottom: 2px;

								img {
									width: 100%;
								}
							}
						}
					}
				}
			}

			.capture__container {
				position: relative;

				.video__container {
					margin: 0 auto;
					padding-bottom: 0;
					width: 350px;
					min-width: 350px;
					max-height: 350px;
					overflow: hidden;

					canvas, video {
						width: 100%;
						height: 100%;
						object-fit: cover;
						overflow: hidden;
					}

					video {
						object-position: top;
					}
				}

				.overlay__container {
					margin: 0 auto;
					position: absolute;
					display: block;
					left: 0;
					right: 0;
					top: 2%;
					width: calc(100vw - 10px);
					/* -webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					transform: translateY(-50%); */
					text-align: center;

					img {
						margin: 0 auto;
						width: 350px;
						min-width: 320px;
						display: block;
					}
				}
			}

			.btn__capture {
				width: 100%;
				text-align: center;
				margin-top: 40px;

				a {
					display: block;
					margin: 0 auto;
					width: 94px;
					@include transition;
					@include hoverOpacity;

					img {
						margin-left: -3px;
					}
				}
			}

			.back__container {

				.btn__back {
					margin: 20px auto 0;
					display: block;
					width: 160px;
					height: 47px;
					border: 0;
					border-radius: 6px;
					-webkit-box-shadow: 3px 3px 7px 0px rgba(0,81,109,0.3);
					-moz-box-shadow: 3px 3px 7px 0px rgba(0,81,109,0.3);
					box-shadow: 3px 3px 7px 0px rgba(0,81,109,0.3);
					@include transition;
					@include hoverOpacity;
					position: relative;
					background: $lightBlue;

					.ico__btn {
						margin-top: 14px;
						margin-left: 25px;
						width: 17px;
					}

					span {
						float: none;
						position: absolute;
						display: inline-block;
						top: 50%;
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						transform: translateY(-50%);
						left: 5%;
						right: 0;
						margin: 0 auto !important;
						width: 31px;
					}
				}
			}
		}

		.retake__container {
			width: 350px;
			margin: 0 auto;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);

			.container__inner {
				padding-top: 40px;
				box-sizing: border-box;

				.cr-viewport {
					border: none !important;
					box-shadow: none !important;
				}

				p {
					margin-top: 18px;
					text-align: center;
					font-size: 14px;
					line-height: 1.75;
					font-weight: bold;
				}

				.btn__container {
					margin-top: 20px;
					padding-bottom: 10px;
				}

				.instruction {
					margin-top: 10px;
				}
			}
		}


		.filter__container {
			width: 350px;
			position: absolute;
			top: 45%;
			transform: translateY(-50%);
			left: 0;
			right: 0;
			margin: 0 auto;
			padding-bottom: 20px;

			&.en {
				.container__inner {
					p {
						text-align: left;
					}
				}
			}

			.container__inner {
				padding-top: 40px;
				box-sizing: border-box;

				p {
					margin: 20px auto 0;
					width: 100%;
					font-size: 14px;
					font-weight: bold;
					line-height: 1.5;
				}

				.range__container {
					margin: 29px auto 0;
					max-width: 510px;
				}

				.instruction {
					margin: 41px auto 0;
					max-width: 510px;
				}

				.btn__container {
					margin-left: auto;
					margin-right: auto;
					max-width: 510px;
				}
			}
		}

		.filtered__container {
			width: 350px;
			position: absolute;
			top: 45%;
			transform: translateY(-50%);
			left: 0;
			right: 0;
			margin: 0 auto;

			.container__inner {
				padding-top: 40px;
				box-sizing: border-box;
				text-align: center;

				p {
					margin-top: 20px;
					display: inline-block;
					font-size: 14px;
					line-height: 1.5;
					font-weight: bold;

					&#SELECT_DOWNLOAD_IMAGE {
						text-align: left;
					}
				}

				.btn__container {
					margin-top: 40px;

					.btn__back {

						&.btnRow {
							display: block;
							width: 510px;
							height: 60px;
							margin: 15px auto 0;
							background: $lightBlue;
							border-radius: 6px;
							box-shadow: 3px 3px 18px -3px #333;
							@include transition;
							@include hoverOpacity;

							.ico__btn,
							span {
								float: left;
								display: block;
							}

							.ico__btn {
								margin-top: 13px;
								margin-left: 28%;
								width: 28px;
							}

							span {
								display: block;
								margin-top: 20px;
								margin-left: 10%;
								width: 55px;
							}
						}
					}
				}

				.txt__download {
					margin: 35px auto 0;
					max-width: 510px;
				}
			}
		}

		.details__container {
			width: 350px;

			.container__inner {
				padding-top: 40px;
				box-sizing: border-box;

				p {
					margin: 20px auto 0;
					max-width: 510px;
					font-size: 14px;
					line-height: 1.75;
					letter-spacing: -0.03em;
					font-weight: bold;
					text-align: center;
				}

				.archive__select {
					margin: 20px auto 0;
					max-width: 510px;

					.btn__list {
						width: 100%;
					}
				}

				.comment__details {
					display: block;
					margin: 20px auto 0;

					.comment__content {
						background: $white;
						border-radius: 6px;
						margin-top: 10px;
						box-shadow: 3px 3px 18px -3px #333;

						ul {
							li {
								padding: 0;

								span {
									display: block;
									color: $blue;
									font-size: 12px;
								}

								textarea {
									display: block;
									width: 100%;
									padding: 10px 20px 18px;
									background: transparent;
									color: #B3B3B3;
									min-height: 100px;
									font-size: 12px;
									line-height: 1.8;
									text-align: left;
									border: 1px solid $white;
									border-radius: 6px;
									resize: none;
									outline: 0;
									box-sizing: border-box;
									-webkit-appearance: none;

									&::-webkit-scrollbar {
										width: 5px;
									}

									&::-webkit-scrollbar-track {
										background: $white;
									}

									&::-webkit-scrollbar-thumb {
										background: $blue;
									}

									&::-webkit-input-placeholder {
										color: #B3B3B3;
									}

									&:-moz-placeholder { /* Firefox 18- */
										color: #B3B3B3;
									}

									&::-moz-placeholder {  /* Firefox 19+ */
										color: #B3B3B3;
									}

									&:-ms-input-placeholder {
										color: #B3B3B3;
									}
								}
							}
						}
					}
				}

				.btn__container {
					margin-top: 20px;
					padding-bottom: 40px;
				}
			}
		}

		.summary__container {
			width: 350px;

			.container__inner {
				padding-top: 65px;
				box-sizing: border-box;

				p {
					margin-top: 20px;
					text-align: center;
					font-size: 14px;
					line-height: 1.5;
					font-weight: bold;
				}

				.details__container {
					margin-top: 27px;

					.summary__content {
						table {
							tr {
								td {
									padding: 4px 0;
									width: 100%;
									display: block;
									font-size: 14px;
									line-height: 1.5;
									font-weight: bold;
									color: $purple;

									&:first-child {
										color: $blue;
										font-family: $fontFamily;
										font-size: 10px;
										line-height: 2.43;
										letter-spacing: 0.08em;
									}

									span {
										display: block;
										font-weight: bold;
										word-break: break-all;
									}

									.question--span {
										font-size: 11px;
										line-height: 1.5;
										color: $blue;
									}

									.answer--span {
										margin-top: 5px;
										white-space: pre-wrap;
										line-height: 1.4;
										letter-spacing: -0.04em;
									}
								}

								&:not(:first-child) {
									td:first-child {
										padding-top: 12px;
									}
								}
							}
						}
					}
				}

				.btn__container {
					margin-top: 35px;
					padding-bottom: 30px;
				}
			}
		}

		.instruction__container {
			//padding-bottom: 30px;
			position: absolute;
			left: 0;
			right: 0;
			top: 45%;
			transform: translateY(-50%);

			.container__header {
				padding-top: 55px;

				img {
					display: block;
					margin: 0 auto;
					width: 170px;
				}
			}

			.container__inner {
				display: block;
				margin: 0 auto;
				font-size: 0;
				letter-spacing: 0;
				max-width: 700px;

				&.en {
					.content__container {
						padding: 0 25px;
					}

					.btn__container {
						margin-top: 100px;
					}
				}

				.content__container {
					margin-top: 32px;
					padding: 0 13px;
					box-sizing: border-box;
					display: inline-flex;
					flex-direction: column;
					width: 50%;

					&:first-child {
						padding: 0 20px;
					}

					.header__content {
						margin: 0 auto;
						@include clearfix;
						margin-top: 25px;
						order: 2;
						width: 100%;
						display: block;

						img, p {
							display: inline-block;
							vertical-align: top;
						}

						img {
							width: 50px;
						}

						p {
							width: calc(100% - 50px);
							margin-top: 9px;
							padding-left: 8px;
							box-sizing: border-box;
							font-size: 14px;
							font-weight: bold;
							line-height: 1.4;
							text-align: left;
						}
					}

					.content__container {
						margin-top: 15px;
						padding: 0 16px;
						box-sizing: border-box;
						text-align: center;
						order: 1;
						width: 100%;
						display: block;

						.img__container {
							margin: 0 auto;
							display: inline-block;
							@include clearfix;

							.img__item {
								display: block;
								float: left;
								width: 118px;

								&:last-child {
									margin-left: 15px;
								}
							}
						}
					}
				}
			}

			#upload {
				display: none;
			}
		}
	}
}

/******************************
	child sp
*******************************/

@include media($mobileSize) {
	.child {

		.shooting__page,
		.select__page {
			height: auto;
		}

		.main__container02 {
			.img__container {
				width: 100%;
				position: relative;
				transform-origin: 15% 50%;

				&.reverse {
					transition: transform 2.5s $easeInOutSine,
					opacity 2.5s $easeInOutSine 1s;
				}

				.addedtopbtm__container {
					left: -175%;
					width: 450%;
					.img__item {
						width: 11.11%;
						&:nth-of-type(n+10) {
							top: 50% !important;
						}
						&:nth-of-type(1) {
							left: 0%;
						}
						&:nth-of-type(2) {
							left: 11.11%;
						}
						&:nth-of-type(3) {
							left: 22.22%;
						}
						&:nth-of-type(4) {
							left: 33.33%;
						}
						&:nth-of-type(5) {
							left: 44.44%;
						}
						&:nth-of-type(6) {
							left: 55.55%;
						}
						&:nth-of-type(7) {
							left: 66.66%;
						}
						&:nth-of-type(8) {
							left: 77.77%;
						}
						&:nth-of-type(9) {
							left: 88.88%;
						}
						&:nth-of-type(10) {
							left: 0%;
						}
						&:nth-of-type(11) {
							left: 11.11%;
						}
						&:nth-of-type(12) {
							left: 22.22%;
						}
						&:nth-of-type(13) {
							left: 33.33%;
						}
						&:nth-of-type(14) {
							left: 44.44%;
						}
						&:nth-of-type(15) {
							left: 55.55%;
						}
						&:nth-of-type(16) {
							left: 66.66%;
						}
						&:nth-of-type(17) {
							left: 77.77%;
						}
						&:nth-of-type(18) {
							left: 88.88%;
						}
					}
				}

				.added__container {
					width: 150%;

					.img__item {
						width: 33.33%;

						&:nth-of-type(1),
						&:nth-of-type(2),
						&:nth-of-type(3) {
							top: 0% !important;
						}

						&:nth-of-type(4),
						&:nth-of-type(5),
						&:nth-of-type(6) {
							top: 33.33% !important;
						}

						&:nth-of-type(7),
						&:nth-of-type(8),
						&:nth-of-type(9) {
							top: 66.66% !important;
						}

						&:nth-of-type(1),
						&:nth-of-type(4),
						&:nth-of-type(7) {
							left: 0 !important;
							right: auto !important;
						}

						&:nth-of-type(2),
						&:nth-of-type(5),
						&:nth-of-type(8) {
							left: 33.33% !important;
							right: auto !important;
						}

						&:nth-of-type(3),
						&:nth-of-type(6),
						&:nth-of-type(9) {
							left: 66.66% !important;
							right: auto !important;
						}
					}

					&.left {
						left: -175%;
					}
					&.right {
						right: -175%;
					}
				}

				.img__item {
					width: 50%;
					img {
						margin: 0 auto;
						max-height: 100%;
						max-width: 100%;
						display: block;
					}
					&:nth-of-type(1) {
						left: -25%;
						z-index: 1;
					}
					&:nth-of-type(2) {
						left: 25%;
						z-index: 2;
					}
					&:nth-of-type(3) {
						left: 75%;
						z-index: 2;
					}
					&:nth-of-type(4) {
						top: 33.34%;
						left: -25%;
						z-index: 2;
					}
					&:nth-of-type(5) {
						top: 33.34%;
						left: 25%;
						text-align: center;
					}
					&:nth-of-type(6) {
						top: 33.34%;
						left: 75%;
						z-index: 2;
					}
					&:nth-of-type(7) {
						top: 66.67%;
						left: -25%;
						z-index: 2;
					}
					&:nth-of-type(8) {
						top: 66.67%;
						left: 25%;
						z-index: 2;
					}
					&:nth-of-type(9) {
						top: 66.67%;
						left: 75%;
						z-index: 2;
					}
				}
			}
		}

		.main__container03 {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background-color: $white;
			z-index: 17;

			.bg__container {
				//background: url(../img/common/ntt_sp.gif) no-repeat left 0 top 50% / 100% auto;
				transform: scale(1,1);
			}

			/* &.js-animate {
				.bg__container {
					background: url(../img/common/ntt_sp.gif) no-repeat left 0 top 50% / 100% auto;
				}
			} */
		}

		.loader__page {
			.main__container {
				min-height: calc(100vh - 40px);
			}
		}

		.main__container {
			width: 100%;
			min-height: calc(100vh - 40px);

			.instruction__container {
				position: relative;
				top: auto;
				transform: none;
				padding-bottom: 50px;
			}

			.camera__container {
				width: 100%;
				padding-top: 0;

				.capture__container {

					.video__container {
						margin: 0 auto;
						padding-bottom: 0;
						width: 100%;
						min-width: 320px;
						min-height: 320px;
						max-height: none;

						&.ios__height {
							height: 100vw;
						}

						video {
							width: 100%;
							object-fit: cover;
							overflow: hidden;
						}
					}

					.overlay__container {
						top: 12%;
						bottom: auto;

						img {
							width: 90%;
							max-width: 100vw;
							max-height: calc(100vh - 100px);
						}
					}
				}

				.btn__capture {
					bottom: 20%;

					a {
						width: 90px;
					}
				}

				.back__container {
					padding-bottom: 20px;

					.btn__back {
						position: relative;
						background: #07aedb;
						width: calc(40% - 7.5px);
						display: block;
						padding: 2% 0;
						box-sizing: border-box;
						height: 35px;
						border: 0;
						transition: all .2s linear;

						.ico__btn {
							width: 4.7vw;
							max-width: 25px;
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							left: 2%;
							margin-left: 8%;
							float: none;
							margin-top: 0;
						}

						.txt__btn {
							float: none;
							left: 0;
							right: 0;
							margin: 0 auto !important;
							padding-left: 5%;
							width: 9vw;
							max-width: 45px;
						}
					}
				}
			}

			.retake__container {
				width: 100%;

				.container__inner {
					padding-top: 0px;
					padding: 0 33px;

					p {
						margin-top: 20px;
						font-size: 3vw;
						line-height: inherit;
					}

					.image__container + .image__container {
						padding-top: 40px;
					}

					.btn__container {
						margin-top: 20px;
					}
				}
			}

			.filter__container {
				width: 100%;

				.container__inner {
					padding-top: 0px;
					padding: 0 33px;

					.range__container {
						margin-top: 25px;

						.slider__range {
							height: 4px;
						}
					}

					.btn__container {
						margin-top: 25px;
						padding-bottom: 25px;
					}

					p {
						margin-top: 15px;
						font-size: 3vw;
						text-align: left;
					}

					.instruction {
						margin-top: 0px;
					}
				}
			}

			.filtered__container {
				width: 100%;

				.container__inner {
					padding-top: 0px;
					padding: 0 25px;

					p {
						margin-top: 20px;
						font-size: 3vw;
						line-height: inherit;
					}

					.btn__container {
						margin-top: 25px;
						padding-bottom: 20px;

						.btn__back {

							&.btnRow {
								width: 100%;
								height: 35px;

								.ico__btn {
									margin-top: 9px;
									margin-left: 39%;
									width: 14px;
								}

								span {
									margin-top: 6px;
									margin-left: 20px;
									width: 24px;
								}
							}
						}
					}
				}
			}

			.details__container {
				width: auto;

				.container__inner {
					padding: 0 25px 0;

					p {
						margin-top: 20px;
						font-size: 3vw;
						line-height: inherit;
					}

					.image__container {
						max-width: 100%;
					}

					.archive__select {
						margin-top: 20px;
						max-width: 94%;

						.btn__list {
							font-size: 3vw;
							margin-top: 15px;
						}
					}

					.comment__details {
						margin-top: 15px;
						width: 94%;

						.comment__header {

							.header__container {
								display: table;

								span {
									padding-left: 6px;
									font-family: $fontFamily;
									color: $blue;
									font-size: 12px;
									letter-spacing: 0.08em;
								}

								p {
									font-size: 12px;
								}
							}
						}

						.comment__content {
							margin-top: 4px;

							ul {
								li {
									textarea {
										font-size: 2.5vw;
										padding: 6px 21px;
									}
								}
							}
						}
					}

					.btn__container {
						margin: 25px auto 0;
						padding-bottom: 25px;
						max-width: 94%;
					}
				}
			}

			.summary__container {
				width: auto;

				.container__inner {
					padding-top: 0;
					padding: 0 25px;

					p {
						margin-top: 20px;
						font-size: 3vw;
						line-height: inherit;
					}

					.image__container {
						max-width: 100%;
					}

					.details__container {
						margin-top: 20px;

						.summary__content {
							table {
								tr {
									td {
										font-size: 3vw;
										padding: 0;

										&:first-child {
											font-size: 2.5vw;
											letter-spacing: 0.08em;
										}

										.question--span {
											font-size: 2.5vw;
											color: $blue;
										}
									}
								}
							}
						}
					}

					.btn__container {
						margin-top: 35px;
						padding-bottom: 25px;
					}
				}
			}

			.instruction__container {
				.container__inner {
					.content__container {
						margin-top: 40px;
						box-sizing: border-box;
						display: block;
						width: 100%;
						text-align: center;

						.header__content {
							width: auto;
							max-width: 87%;
							display: inline-block;

							img, p {
								display: block;
								float: left;
							}

							img {
								width: 31px;
							}

							p {
								margin-top: 6px;
								width: auto;
								font-size: 3vw;
								line-height: 1.4;
								text-align: left;
							}
						}

						.content__container {
							text-align: center;

							.img__container {
								display: inline-block;
								@include clearfix;

								.img__item {
									width: 84px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-device-width : 1024px) and (orientation : landscape) {
	video {
		min-height: calc(100vh - 100px);
	}
}

@media screen and ( min-width: 768px ) and ( max-height: 620px ) {
	.camera__container {
		padding-top: 25px !important;
		position: relative !important;
		top: auto !important;
		transform: none !important;
	}

	#CAPTURE_BACK {
		padding-bottom: 25px !important;
	}
}

@media screen and ( min-width: 768px ) and ( max-height: 700px ) {
	.child {
		.main__container {
			.retake__container {
				position: relative;
				top: auto;
				transform: none;
				left: auto;
				right: auto;

				.container__inner {
					.btn__container {
						padding-bottom: 30px;
					}
				}
			}
		}
	}

	.filter__container {
		position: relative !important;
		top: auto !important;
		transform: none !important;
	}
}
@media screen and ( max-height: 410px ) and (orientation : landscape) {
	.instruction__container {
		position: relative !important;
		top: auto !important;
		transform: none !important;
	}

	.capture__page {
		.back__container {
			padding-bottom: 50px;
		}
	}
}

@media screen and ( max-height: 500px ) and ( max-width: 500px ) {
	.camera__container,
	.retake__container,
	.filter__container,
	.filtered__container {
		position: relative !important;
		top: auto !important;
		transform: none !important;
	}
	.camera__container {
		.back__container {
			padding-bottom: 60px;
		}
	}
}

@media only screen
    and (device-width : 375px)
    and (device-height : 812px) {
    	.modal__container {
			min-width: 100%;
    	}

		/* .summary__content {
			table {
				tr {
					td {
						font-size: 16px !important;

						.question--span {
							font-size: 15px !important;
						}
					}
				}
			}
		} */
    }
@media screen and (min-height: 621px) and (max-height: 700px) {
	.child {
		.main__container {
			.filtered__container {
				top: 50%;
				.container__inner {
					padding-top: 0;
					.btn__container {
						margin-top: 15px;
						.btn__content {
							padding-bottom: 0;
						}
					}
				}
			}
		}
	}
}

@media screen and ( max-height: 620px ) and (orientation : landscape) {
	.camera__container,
	.retake__container,
	.filter__container,
	.filtered__container {
		position: relative !important;
		top: auto !important;
		transform: none !important;
	}

	.btn__content {
		padding-bottom: 40px;
	}
}

@media screen and (max-device-width : 768px) and (orientation : landscape) {
	.overlay__container {
		height: 100vh !important;
	}

	.camera__container,
	.overlay__container {
		max-width: 375px;
	}

	.camera__container {
		.btn__capture {
			padding-bottom: 40px;
		}
	}

	.overlay__container {
		left: 0 !important;

		img {
			max-height: none !important;
		}
	}

	.btn__capture {
		bottom: 12% !important;
	}
}

.btn__content {
	padding-bottom: 40px;
}