/**************************************

common.scss

***************************************/

.pc {
	display: block;
}

.sp {
	display: none;
}

body {
	&.modal__open {
		overflow: hidden;
	}
}

input[type=range]::-ms-tooltip {
	display: none;
}

video {
	pointer-events: none;
}

*::-webkit-media-controls {
	display: none;
}

*::-webkit-media-controls-volume-slider {
	display: none;
}

*::-webkit-media-controls-start-playback-button {
    display: none;
}

*::-webkit-media-controls-mute-button {
	display: none;
}

*::-webkit-media-controls-timeline {
	display: none;
}

*::-webkit-media-controls-fullscreen-button,
*::-webkit-media-controls-play-button,
*::-webkit-media-controls-pausebutton {
    display: none;
}

*::-webkit-media-controls-enclosure,
*::-webkit-media-controls-panel {
	display: none !important;
}



*::-webkit-media-controls-current-time-display {
	display: none;
}

.navigation__container {
	position: absolute;
	top: 50%;
	left: -50%;
	width: 660px;
	transform: translateY(-50%);
	@include clearfix;

	.nav__arrow {
		display: block;
		color: $white;
		font-size: 20px;
		width: 20px;
		@include transition;
		@include hoverOpacity;

		&.nav__arrow--left {
			float: left;
		}

		&.nav__arrow--right {
			float: right;
		}
	}
}

#characterCount {
	color: #84add6;
	font-size: 12px;
	padding: 10px 20px 0;
}

.main__container {
	position: relative;


	.loader__container {
		.loader__item {
			margin: 0 auto;
		}

		span {
			display: block;
			margin: 0 auto;
			text-align: center;
		}
	}

	.container {
		width: $pcSize;
		margin: 0 auto;

		.container__inner {

			.archive__list {
				margin-top: 30px;
				@include clearfix;

				.searchResults {
					margin-top: 50px;
					text-align: center;
					font-size: 25px;
				}

				.archive__items {
					float: left;
					width: calc(20% - 8px);
					margin-right: 10px;
					cursor: pointer;
					opacity: 0;
					@include transition;

					&.reveal {
						opacity: 1;
					}

					&:nth-of-type(5n+5) {
						margin-right: 0;
					}

					&:nth-of-type(n+6) {
						margin-top: 10px;
					}
				}
			} /* .archive__list */

			.research__container {
				float: right;
				display: block;
				width: 510px;
				margin-left: 14px;

				.btn__research {
					margin-top: 6px;
					display: block;
					width: 100%;
					color: $white;
					padding: 27px 0;
					font-family: $fontFamily;
					font-size: 17px;
					line-height: 1;
					letter-spacing: 0.1em;
					background: $blue;
					background-image: url('../img/common/ico_search.png');
					background-position: right 54% center;
					background-repeat: no-repeat;
					background-size: 143px auto;
					border: 0;
					border-radius: 6px;
					box-shadow: 3px 3px 12px -3px #333;
				}
			} /* .research__container */

			.archive__select {

				.btn__list {
					display: block;
					margin: 6px auto 0;
					width: 540px;
					height: 32px;
					padding: 0 10px;
					color: #B3B3B3;
					font-family: $fontFamily;
					font-size: 12px;
					letter-spacing: 0.08em;
					background: $white;
					box-sizing: border-box;
					border-radius: 6px;
					box-shadow: 3px 3px 12px -3px #333;
					border: none;
					-moz-appearance: none;
					-webkit-appearance: none;
				}

				.btn__list::-webkit-input-placeholder {
					color: #B3B3B3;
				}

				.btn__list:nth-child(2) {
					background-image: none;
				}
				
				input::-webkit-calendar-picker-indicator {
					display: none;
				}
			} /* archive__select */

			.btn__container {
				margin-top: 40px;
				text-align: center;

				.btn__content {
					display: inline-block;
					font-size: 0;
					letter-spacing: 0;
					@include clearfix;

					.btn__template {
						float: left;
						display: block;
						width: 160px;
						height: 47px;
						border: 0;
						border-radius: 6px;
						-webkit-box-shadow: 3px 3px 7px 0px rgba(0,81,109,0.3);
						-moz-box-shadow: 3px 3px 7px 0px rgba(0,81,109,0.3);
						box-shadow: 3px 3px 7px 0px rgba(0,81,109,0.3);
						@include transition;
						@include hoverOpacity;

						.ico__btn {
							margin-top: 13px;
							margin-left: 20px;
						}

						span {
							margin-top: 8px;
							margin-left: 15px;
						}

						.ico__btn,
						span {
							display: block;
							float: left;
						}
					}

					.btn__save {
						display: block;
						width: 100%;
						position: relative;
						background: $white;
						margin-bottom: 20px;

						.ico__btn {
							margin-left: 100px;
							width: 20px;
						}

						span {
							float: none;
							position: absolute;
							top: 50%;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							transform: translateY(-50%);
							left: 0;
							right: 0;
							margin: 0 auto !important;
							width: 27px;
						}
					}

					.btn__next {
						position: relative;
						background: $blue;
						margin-left: 30px;

						.ico__btn {
							margin-top: 19px;
							width: 16px;
						}

						span {
							float: none;
							position: absolute;
							top: 50%;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							transform: translateY(-50%);
							left: 5%;
							right: 0;
							margin: 0 auto !important;
							width: 30px;
						}
					}

					.btn__retake {
						position: relative;
						background: $lightBlue;

						.ico__btn {
							width: 23px;
						}

						span {
							float: none;
							position: absolute;
							top: 50%;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							transform: translateY(-50%);
							left: 5%;
							right: 0;
							margin: 0 auto !important;
							width: 40px;
						}
					}

					.btn__back {
						position: relative;
						background: $lightBlue;

						.ico__btn {
							width: 17px;
						}

						span {
							float: none;
							position: absolute;
							display: inline-block;
							top: 50%;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							transform: translateY(-50%);
							left: 5%;
							right: 0;
							margin: 0 auto !important;
							width: 31px;
						}
					}

					.btn__no {
						position: relative;
						background: #576691;

						.ico__no {
							margin-top: 19px;
							margin-left: 15px;
							float: left;
							display: block;
							width: 21px;
						}

						span {
							float: none;
							position: absolute;
							top: 50%;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							transform: translateY(-50%);
							left: 0;
							right: 0;
							margin: 0 auto !important;

							img {
								width: 23px;
							}
						}
					}

					.btn__okay {
						position: relative;
						background: $blue;
						margin-left: 30px;

						.ico__btn {
							margin-top: 14px;
							width: 21px;
						}

						span {
							float: none;
							position: absolute;
							top: 49%;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							transform: translateY(-50%);
							display: inline-block;
							left: 5%;
							right: 0;
							margin: 0 auto !important;
							width: 16px;
							
						}
					}

					.btn__reselect {
						position: relative;
						background: $lightBlue;

						.ico__btn {
							margin-top: 12px;
							width: 23px;
						}

						span {
							float: none;
							position: absolute;
							top: 50%;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							transform: translateY(-50%);
							left: 0;
							right: 0;
							margin: 0 auto !important;
							width: 50px;
						}
					}

					.btn__reselect + input[type="file"] {
						display: none;
					}
				}
			}
		} /* .container__inner */

		.btn__totop {
			margin-left: 13px;
			display: block;
			width: 32px;
			transition: all .2s linear;
			position: absolute;
			top: 13px;
		}
	} /* .container */

	.loader__item {
		display: block;
		background-image: url('../img/common/ico_loader.png');
		background-size: 100% auto;
		background-position: center;
		width: 80px;
		height: 80px;
		animation: spin 2s linear infinite;
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
}

.modal__container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 150px 30px 50px;
	width: 100vw;
	min-width: 100vw;
	min-height: 100vh;
	max-height: 100vh;
	box-sizing: border-box;
	background: rgba(76, 87, 130, .9);
	overflow-y: scroll;
	z-index: 10;

	.close--modal {
		display: block;
		max-width: 27px;
		margin-left: auto;
		@include transition;
		@include hoverOpacity;
	}

	.modal__fix {
		display: block;
		position: absolute;
		width: 100%;
		max-width: 1040px;
		top: 50px;
		left: 0;
		right: 0;
		margin: 0 auto;

		.btn__close {
			display: block;
			width: 27px;
			margin-left: auto;
			@include transition;
			@include hoverOpacity;
		}
	}

	&.archive__modal {
		.modal__content {
			.image__container {
				position: relative;
			}
		}
	}

	&.terms__modal {

		.modal__inner {
			margin: 0 auto;
			width: 100%;
			max-width: 1040px;

			.btn__close {
				position: relative;
				margin-left: auto;
				display: block;
				right: auto; 
			}
		}

		.modal__content {
			position: relative;
			padding: 50px 0;
			max-width: 530px;

			h2 {
				color: $white;
				font-size: 24px;
				letter-spacing: 0.04em;
				font-weight: bold;
				text-align: center;
				line-height: 1.5;
			}

			p {
				margin-top: 25px;
				color: $white;
				line-height: 1.5;
			}

			h3 {
				margin-top: 30px;
				font-size: 20px;
				font-weight: bold;
				line-height: 1.5;
				color: $white;
			}

			h3 + p {
				margin-top: 15px;
			}

			h4 {
				margin-top: 30px;
				font-size: 16px;
				color: $white;
				line-height: 1.5;
			}

			b {
				font-weight: bold;
			}

			.datetime {
				font-size: 12px;

				&.jp {
					text-align: right;
				}
			}

			ul, ol {
				li {
					font-size: 14px;
				}
			}

			ul {
				margin-top: 10px;
				margin-left: 15px;

				li {
					list-style-type: disc;
					color: $white;
					line-height: 1.5;

					&:not(:first-child) {
						margin-top: 5px;
					}
					p {
						margin-top: 10px;
						margin-left: 25px;
					}
				}

				&.no--disc {
					li {
						list-style-type: none;
					}
				}
			}

			ol {
				margin-top: 10px;
				margin-left: 15px;

				li {
					color: $white;
					line-height: 1.5;

					&:not(:first-child) {
						margin-top: 5px;
					}
				}
			}

			a {
				color: $white;
				text-decoration: underline;
				@include transition;
				@include hoverOpacity;
			}
		}

		.btn--close {
			position: relative;
			display: block;
			width: 160px;
			margin: 0 auto;
			padding: 20px 0;
			color: $blue;
			font-size: 10px;
			font-weight: bold;
			text-align: center;
			border-radius: 5px;
			background: $white;
			@include transition;
			@include hoverOpacity;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 20px;
				display: block;
				width: 14px;
				height: 14px;
				background-image: url('../img/common/ico_x.svg');
				background-size: 100% auto;
				background-repeat: no-repeat;
				background-position: center;
			}

			img {
				display: block;
				max-width: 37px;
				margin: 0 auto;
			}
		}
	}

	.modal__content {
		position: relative;
		display: block;
		margin: 0 auto;
		max-width: 340px;

		.details__container {
			margin-top: 16px;
			display: block;

			.summary__content {
				table {
					margin: 0 auto;

					tr {
						td {
							padding: 5px 0;
							width: 100%;
							display: block;
							font-size: 14px;
							font-weight: bold;
							color: $white;

							&:first-child {
								margin-top: 14px;
								color: #ccc;
								font-family: $fontFamily;
								font-size: 10px;		
								letter-spacing: 0.08em;
							}

							span {
								display: block;
								font-weight: bold;
								word-break: break-all;
							}

							.question--span {
								font-size: 11px;
								line-height: 1.5;
							}

							.answer--span {
								margin-top: 5px;
								font-size: 14px;
								line-height: 1.4;
								white-space: pre-wrap;
							}
						}

						&:not(:first-child) {
							td:first-child {
								padding-top: 12px;
							}
						}
					}
				}
			}
		}
	}

	&.notif__modal {
		display: none !important;

		&.show {
			display: block !important;
		}

		.notif--txt {
			margin: 0 auto;
			display: block;
			max-width: 81.25%;
		}

		.copy__container {
			width: 260px;
			margin: 25px auto 0;

			tr {
				td {
					padding-top: 14px;
					vertical-align: middle;

					&:first-child {
						text-align: left;
						font-size: 11px;
						font-weight: bold;
						color: $white;
					}

					&:last-child {
						position: relative;
						width: 184px;

						.copy__item {
							background: $blue;
							max-width: 182px;
							border-radius: 5px;
							padding: 1px;
							@include clearfix;

							&.js--copied {
								background: $lightBlue;

								.btn--copy {
									background: $lightBlue;
								}
							}
						}

						input {
							float: left;
							width: 116px;
							border: 0;
							padding: 7.5px 10px;
							font-size: 9px;
							box-sizing: border-box;
							background: #ccd8e5;
							border-radius: 5px;
						}

						.btn--copy {
							float: left;
							background: $blue;
							border: 0;
							padding: 7px 0;
							text-align: center;
							color: $white;
							font-size: 10px;
							min-width: 66px;
							outline: none;
							@include hoverOpacity;
							@include transition;
						}
					}
				}
			}
		}

		.btn__okay {
			position: relative;
			background: $blue;
			margin: 40px auto 0;
			width: 122px;
			display: block;
			padding: 2% 0;
			border-radius: 5px;
			box-sizing: border-box;
			@include transition;
			@include hoverOpacity;

			.ico__btn {
				width: 15px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 15%;
				float: none;
				margin-top: 0;
			}

			span {
				display: block;
				float: none;
				left: 0;
				right: 0;
				margin: 0 auto !important;
				padding-left: 5%;
				width: 17px;
				padding-bottom: 1px;

				img {
					width: 100%;
				}
			}
		}
	}
}

.range__container {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: -12px;
		left: 0;
		display: block;
		width: 13px;
		height: 13px;
		background: url('../img/common/ico_minus.svg');
		background-size: 100% auto;
		background-position: center;
		background-repeat: no-repeat;
	}

	&::after {
		content: '';
		position: absolute;
		top: -12px;
		right: 0;
		display: block;
		width: 13px;
		height: 13px;
		background: url('../img/common/ico_add.svg');
		background-size: 100% auto;
		background-position: center;
		background-repeat: no-repeat;
	}

	.slider__range {
		margin: 0 auto;
		width: 100%;
		min-width: 154px;
		height: 7px;
		border-radius: 5px;
		background: $purple;
		outline: none;
		-webkit-transition: .2s;
		transition: opacity .2s;
		-webkit-appearance: none;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 33px;
			height: 33px;
			background-image: url('../img/common/ico_slider.png');
			background-size: 100% auto;
			box-shadow : 0px 5px 10px rgba(0, 81, 109, 0.5);
			border-radius: 50%;
			cursor: pointer;
			position: relative;
			z-index: 9;
		}

		&::-moz-range-thumb {
			width: 33px;
			height: 33px;
			background-image: url('../img/common/ico_slider.png');
			background-size: 100% auto;
			box-shadow : 0px 5px 10px rgba(0, 81, 109, 0.5);
			border-radius: 50%;
			cursor: pointer;
			position: relative;
			z-index: 9;
		}
	}


	input[type="range"]::-ms-track {
		color: transparent;
		background: transparent;
	}

	input[type=range]::-ms-track {
		width: 100%;
		height: 50px !important;
		cursor: pointer;
		animate: 0.2s;
		background: transparent;
		border-color: transparent;
		border-width: 39px 0;
		color: transparent;
	}

	input[type=range]::-ms-fill-lower {
		background: #4c5782;
		border: 0px solid #000101;
		border-radius: 50px;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	}

	input[type=range]::-ms-fill-upper {
		background: #4c5782;
		border: 0px solid #000101;
		border-radius: 50px;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	}

	input[type=range]::-ms-thumb {
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		width: 31px;
		height: 31px;
		background-image: url('../img/common/ico_slider.png');
		background-size: 100% auto;
		box-shadow : 0px 5px 10px rgba(0, 81, 109, 0.5);
		border-radius: 50%;
		cursor: pointer;
	}

	input[type=range]:focus::-ms-fill-lower {
		background: #4c5782;
	}

	input[type=range]:focus::-ms-fill-upper {
		background: #4c5782;
	}
}

.custom__checkbox {
	display: inline-block;

	.container {
		display: block;
		position: relative;
		width: 30px;
		height: 30px;
		padding-left: 30px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: pointer;
	}

	/* Hide the browser's default checkbox */
	.container input {
		position: absolute;
		left: 0;
		opacity: 0;
		cursor: pointer;
	}

	/* Create a custom checkbox */
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 30px;
		width: 30px;
		border: 1px solid #ccc;
		background: #ccc;
		border-radius: 3px;
		box-sizing: border-box;
		@include transition;
	}

	/* When the checkbox is checked, add a blue background */
	.container input:checked ~ .checkmark {
		background-color: $white;
		border: 1px solid $white !important;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	/* Show the checkmark when checked */
	.container input:checked ~ .checkmark:after {
		display: block;
	}

	/* Style the checkmark/indicator */
	.container .checkmark:after {
		top: 1px;
		left: 9px;
		width: 8px;
		height: 20px;
		border: solid $blue;
		border-width: 0 2px 2px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}
@media screen and (max-width : 375px) {
	.modal__container {
		&.notif__modal {
			.btn__okay {
				margin: 40px auto 100px;
			}
		}
	}
}

@media screen and (min-width : 769px) {
	.modal__container {
		&.notif__modal {
			overflow: hidden;
			padding: 0;

			.modal__content {
				width: 340px;
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				margin: 0 auto;
				transform: translateY(-50%);
			}
		}
	}
}

/******************************
    SP
*******************************/

@include media($mobileSize) {
	html, body {
		min-width: auto;
	}

	.pc {
		display: none !important;
	}

	.sp {
		display: block !important;
	}

	.navigation__container {
		width: 129.5%;
		top: 50%;
		left: -15%;

		.nav__arrow {
			width: 3vw;
		}
	}

	#characterCount {
		font-size: 3vw;
	}

	body {
		&.iphone__fix {
			position: fixed;
		}
	}

	.main__container {
		
		.container {
			width: 100%;
			box-sizing: border-box;

			.container__header, 
			.container__inner {
				width: 100%;
			}

			.container__inner {
				.range__container {
					.slider__range {

						&::-webkit-slider-thumb {
							width: 26px;
							height: 26px;
						}

						&::-moz-range-thumb {
							width: 26px;
							height: 26px;
						}
					}
				}

				.image__container {
					padding-top: 25px;
					margin: 0 auto;
					max-width: 81%;
				}

				p {
					font-size: 12px;
					color: $purple;
					line-height: 1.5;
					letter-spacing: 0.04em;
					text-align: center;
				}

				.archive__select {
					margin: 0 auto;

					.archive__selectInput {
						width: 100%;

						.btn__list {
							margin-top: 15px;
							width: 100%;
						}
					}

				} /* archive__select */

				.archive__list {
					margin-top: 40px;

					.searchResults {
						margin-top: 0;
					}

					.archive__items {
						width: calc(33.33% - 3.33px);
						margin-right: 5px;

						&:nth-of-type(3n+3) {
							margin-right: 0 !important;
						}

						&:nth-of-type(n+4) {
							margin-top: 5px;
						}

						&:nth-of-type(5n+5) {
							margin-right: 4px;
						}

						&:nth-of-type(n+6) {
							margin-top: 5px;
						}
					}
				}

				.archive__select {
					.btn__list {
						float: none;
						width: 100%;
						padding: 0 20px;
						font-size: 10px;
					}
				}

				.btn__container {
					margin-top: 40px;
					text-align: center;

					&.with-padding {
						padding: 0 50px;
					}

					.btn__content {
						display: block;
						@include clearfix;

						.btn__template {
							float: left;
							display: block;
							width: 120px;
							height: 35px;
							border: 0;
							@include transition;
							@include hoverOpacity;

							.ico__btn {
								margin-top: 10px;
								margin-left: 13px;
							}

							span {
								margin-top: 8px;
								margin-left: 15px;
							}

							.ico__btn,
							span {
								display: block;
								float: left;
							}
						}

						.btn__save {
							float: none;
							width: 100%;
							margin-bottom: 15px;

							.ico__btn {
								width: 4.7vw;
								max-width: 22px;
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								left: 2%;
								float: none;
								margin-top: 0;
							}

							span {
								float: none;
								left: 0;
								right: 0;
								margin: 0 auto !important;
								padding-left: 5%;
								width: 10vw;
								max-width: 45px;

								img {
									width: 100%;
								}
							}
						}
					
						.btn__retake {
							position: relative;
							background: $lightBlue;
							width: calc(50% - 7.5px);
							display: inline-block;

							.ico__btn {
								width: 4.7vw;
								max-width: 25px;
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								left: 2%;
								float: none;
								margin-top: 0;
							}

							span {
								float: none;
								left: 0;
								right: 0;
								margin: 0 auto !important;
								padding-left: 5%;
								width: 13vw;
								max-width: 60px;

								img {
									width: 100%;
								}
							}
						}

						.btn__back {
							position: relative;
							background: $lightBlue;
							width: calc(50% - 7.5px);
							display: block;
							padding: 2% 0;
							box-sizing: border-box;

							.ico__btn {
								width: 4.7vw;
								max-width: 25px;
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								left: 2%;
								float: none;
								margin-top: 0;
							}

							span {
								float: none;
								left: 0;
								right: 0;
								margin: 0 auto !important;
								padding-left: 5%;
								width: 9vw;
								max-width: 45px;

								img {
									width: 100%;
								}
							}
						}

						.btn__no {
							position: relative;
							background: #576691;
							float: none;
							width: calc(50% - 7.5px);
							display: inline-block;

							.ico__no {
								margin-top: 11px;
								margin-left: 10px;
								float: left;
								display: block;
								width: 12px;
							}

							span {
								float: none;
								position: absolute;
								top: 50%;
								-webkit-transform: translateY(-50%);
								-moz-transform: translateY(-50%);
								transform: translateY(-50%);
								left: 0;
								right: 0;
								display: block;
								width: 12px;
								height: 6px;
								margin: 0 auto !important;

								img {
									width: 12px;
								}
							}
						}

						.btn__okay {
							position: relative;
							background: $blue;
							margin-left: 15px;
							width: calc(50% - 7.5px);
							display: block;
							padding: 2% 0;
							box-sizing: border-box;

							.ico__btn {
								width: 4.7vw;
								max-width: 25px;
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								left: 2%;
								float: none;
								margin-top: 0;
							}

							span {
								float: none;
								left: 0;
								right: 0;
								margin: 0 auto !important;
								padding-left: 5%;
								width: 5vw;
								max-width: 27px;

								img {
									width: 100%;
								}
							}
						}

						.btn__next {
							float: right;
							width: calc(50% - 7.5px);
							margin-left: 0;

							.ico__btn {
								width: 4.7vw;
								max-width: 25px;
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								left: 2%;
								float: none;
								margin-top: 0;
							}

							span {
								float: none;
								left: 0;
								right: 0;
								margin: 0 auto !important;
								padding-left: 5%;
								width: 10vw;
								max-width: 45px;

								img {
									width: 100%;
								}
							}
						}

						.btn__save + .btn__back {
							float: left;
						}

						.btn__reselect {
							position: relative;
							background: $lightBlue;
							width: calc(50% - 7.5px);
							display: inline-block;

							.ico__btn {
								width: 4.7vw;
								max-width: 25px;
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								left: 2%;
								float: none;
								margin-top: 0;
							}

							span {
								float: none;
								left: 0;
								right: 0;
								margin: 0 auto !important;
								padding-left: 5%;
								width: 17vw;
								max-width: 90px;

								img {
									width: 100%;
								}
							}
						}

						.btn__reselect + input[type="file"] {
							display: none;
						}
					}
				}


				.research__container {
					width: 100%;
					margin-left: 0;
					margin: 0 auto;

					.btn__research {
						margin: 5px auto 0;
						display: block;
						width: 100%;
						padding: 13px 0;
						font-size: 9px;
						background-image: url('../img/common/ico_search_sp.png');
						background-size: 72px auto;
						background-position: right 55% center;
					}
				}
			}
		}	
	}


	.modal__container {
		display: none;
		position: fixed;
		top: 0;
		padding: 25px 15px 50px;
		min-height: 100vh;
		background: rgba(76, 87, 130, .9);
		z-index: 10;

		&.terms__modal {

			.modal__inner {
				margin: 0 auto;
				width: 100%;
				max-width: 1040px;

				.btn__close {
					position: relative;
					margin-left: auto;
					display: block;
					right: auto; 
				}
			}

			.modal__content {
				position: relative;
				margin-top: 0px;
				padding: 25px;
				top: auto;
				left: auto;
				transform: none;

				h2 {
					font-size: 12px;
				}

				p {
					margin-top: 20px;
					font-size: 8px;
				}

				h3, h4 {
					font-size: 12px;
				}

				ul {
					li {
						font-size: 8px;
					}

					& > li, ul {
						margin-left: 20px;
					}
				}

				ol {
					li {
						font-size: 8px;
					}
				}

				.datetime {
					font-size: 10px;
					margin-bottom: 50px;
				}
			}

			.btn--close {
				width: 120px;
				padding: 11px 0;
				margin-bottom: 100px;

				&::before {
					left: 18px;
					width: 10px;
					height: 10px;
				}
			}
		}

		&.archive__modal {
			.modal__content {
				width: 81.3%;
			}
		}

		&.notif__modal {
			padding: 0;

			.modal__content {
				overflow-y: hidden;
			}
		}

		.btn__close {
			position: absolute;
			top: 10px;
			right: 9px;
			display: block;
			width: 29px;
			@include transition;
			@include hoverOpacity;

			&.pc {
				display: none;
			}
		}

		.modal__content {
			position: relative;
			margin-top: 35px;

			.details__container {
				margin-top: 16px;

				.summary__content {
					table {
						tr {
							td {
								padding: 4px 0;
								width: 100%;
								display: block;
								font-size: 3vw;
								font-weight: bold;
								color: $white;

								&:first-child {
									margin-top: 6px;
									color: #ccc;
									font-family: $fontFamily;
									font-size: 2.5vw;
									letter-spacing: 0.08em;
								}

								span {
									display: block;
									font-weight: bold;
								}

								.question--span {
									font-size: 2.5vw;
								}

								.answer--span {
									margin-top: 5px;
									padding-bottom: 65px;
								}
							}

							&:not(:first-child) {
								td:first-child {
									padding-top: 12px;
								}
							}
						}
					}
				}
			}
		}
	}

	.custom__checkbox {
		display: inline-block;

		.container {
			display: block;
			position: relative;
			width: 15px;
			height: 15px;
			padding-left: 22px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			cursor: pointer;
		}

		/* Hide the browser's default checkbox */
		.container input {
			position: absolute;
			left: 0;
			opacity: 0;
			cursor: pointer;
		}

		/* Create a custom checkbox */
		.checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 15px;
			width: 15px;
			border: 1px solid #ccc;
			background: #ccc;
			border-radius: 3px;
			box-sizing: border-box;
			@include transition;
		}

		/* When the checkbox is checked, add a blue background */
		.container input:checked ~ .checkmark {
			background-color: $white;
			border: 1px solid $white !important;
		}

		/* Create the checkmark/indicator (hidden when not checked) */
		.checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}

		/* Show the checkmark when checked */
		.container input:checked ~ .checkmark:after {
			display: block;
		}

		/* Style the checkmark/indicator */
		.container .checkmark:after {
			top: 0;
			left: 3px;
			width: 4px;
			height: 10px;
			border: solid $blue;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}