/**************************************
footer
***************************************/

footer {
	background: $white;
	padding: 9px 0 8px;

	.footer__logo {
		margin: 0 auto;
		display: block;
		width: 214px;
	}	
}


/******************************
    footer sp
*******************************/

@include media($mobileSize) {
	footer {
		padding: 6px 0;

		.footer__logo {
			width: 155px;
		}
	}
}