/**************************************
home.scss
***************************************/

.home {
	display: block;
	background-image: url('../img/top/bg_01.png');
	background-position: top center;
	background-size: 100% auto;

	.main__container {

		.language__container {
			position: absolute;
			left: 0;
			right: 0;
			top: 65px;
			width: $pcSize;
			margin: 0 auto;
			text-align: right;
			@include clearfix;

			.language__list {
				display: inline-block;
				border-collapse: collapse;
				height: 28px;
				margin-left: auto;
				box-sizing: border-box;

				a {
					position: relative;
					display: block;
					float: left;
					width: 86px;
					height: 100%;
					border: 2px solid $violet;
					margin-left: -1px;
					@include transition;

					img {
						width: 41px;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 0;
						right: 0;
						display: block;
						margin: 0 auto;
						@include transition;
					}

					&.active {
						&.lang__jp {
							img {
								opacity: .4;
							}
						}

						&.lang__en {
							img {
								opacity: .4;
							}
						}
					} 

					&.lang__jp {
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
					}

					&.lang__en {
						border-top-right-radius: 5px;
						border-bottom-right-radius: 5px;
					}
				}
			}
		} /* .language__container */

		.home__container01 {
			padding-top: 135px;

			.container__inner {
				@include clearfix;

				.top__picSample,
				.top__description {
					width: 50%;
				}

				.top__picSample {
					float: left;
					width: 460px;

					.img__container00 {
					}
				}

				.top__description {
					float: right;
					width: 503px;
					margin-right: 35px;

					.img__container01 {
						margin-top: 17px;
						margin-left: 5px;
						width: 484px;
					}

					.img__container02 {
						margin-top: 49px;
						width: 488px;
					}
				}
			}
		} /* .home__container01 */

		.mainUse__container {
			margin-top: 57px;

			.container__header {
				position: relative;
				background: $violet;
				padding: 22px 0 20px;
				-webkit-box-shadow: 0px 10px 30.78px 0px rgba(0,81,109,0.6);
				-moz-box-shadow: 0px 10px 30.78px 0px rgba(0,81,109,0.6);
				box-shadow: 0px 10px 30.78px 0px rgba(0,81,109,0.6);
				z-index: 10;

				.img__container {
					display: block;
					margin: 0 auto;
					width: 147px;
				}
			}

			.content__container {
				@include clearfix;
				background: $blue;

				.use__container {
					position: relative;
					background: $blue;
					float: left;
					width: 33.33%;

					&:not(:last-child) {
						-webkit-box-shadow: 0px 0px 10px 0px rgba(0,81,109,1);
						-moz-box-shadow: 0px 0px 10px 0px rgba(0,81,109,1);
						box-shadow: 0px 0px 10px 0px rgba(0,81,109,1);

						&::after {
							content: '';
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							right: -15px;
							margin: 0 auto;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 15px 0 15px 15px;
							border-color: transparent transparent transparent $blue;
						}
					}

					&.use__container01 {
						z-index: 9;

						.cont__img {
							width: 283px;

							img {
								min-width: 283px;
							}
						}
					}

					&.use__container02 {
						background: $violet;
						z-index: 8;

						&::after {
							border-color: transparent transparent transparent $violet;
						}

						.cont__img {
							margin-top: 40px;
							width: 275px;

							img {
								margin-left: 6px;
								min-width: 275px;
							}
						}

						figure {
							display: block;
							margin: 0 auto;
							width: 284px;
						}
					}

					&.use__container03 {
						z-index: 7;
						width: 33.34%;
						-webkit-box-shadow: -3px 0px 10px 0px rgba(0,81,109,1);
						-moz-box-shadow: -3px 0px 10px 0px rgba(0,81,109,1);
						box-shadow: -3px 0px 10px 0px rgba(0,81,109,1);

						.cont__img {
							width: 300px;

							img {
								min-width: 300px;
							}
						}
					}

					&.use__container01,
					&.use__container03 {
						.cont__img {
							position: absolute;
							top: 50%;
							left: 0;
							right: 0;
							display: block;
							margin: 0 auto;
							transform: translateY(-50%);
						}
					}

					.stepimg__container {
						padding: 21px 0;

						.cont__img {
							display: block;
							margin-left: auto;
							margin-right: auto;
						}

						.counter__container {
							position: absolute;
							top: 21px;
							left: 0;
							right: 0;
							margin: 0 auto;
							display: block;
							width: 40.5px;
						}
					}
				}
			}
		} /* .mainUse__container */

		.terms__container {
			margin: 60px auto 0;
			width: 100%;
			max-width: 510px;
			text-align: center;
			border: 1px solid $blue;
			border-radius: 10px;
			padding: 15px 0;
			cursor: pointer;

			.inner__container {
				display: table;
				margin: 0 auto;

				.custom__checkbox, .p__container {
					display: table-cell;
					vertical-align: middle;
					height: 100%;
				}

				.p__container {
					padding-left: 30px;

					p {
						font-size: 16px;
						font-weight: bold;
						line-height: 1;

						span, a {
							color: $violet;
							display: inline-block;
							font-size: 16px;
							font-weight: bold;
							text-decoration: underline;
						}
					}
				}
			}
		} /* .terms__container */

		.button__container {
			margin-top: 60px;
			opacity: .5;
			pointer-events: none;
			@include transition;

			&.js--terms {
				opacity: 1;
				pointer-events: auto;
			}

			.container__inner {
				font-size: 0;
				letter-spacing: 0;

				.btn__camera,
				.btn__upload {
					padding: 20px 0;
					@include transition;
					@include hoverOpacity;
				}

				.btn__camera {
					display: inline-block;
					width: calc(50% - 10px);
					background: $blue;
					border: 0;
					border-radius: 6px;
					box-shadow: 3px 3px 18px -3px #333;

					.btn__cont {
						margin: 0 auto;
						display: table;

						.assets__container {
							display: table-cell;
							height: 35px;
							vertical-align: middle;

							.ico__btn {
								width: 32px;
								margin-left: -7vw;
							}

							.txt__btn {
								width: 70px;
							}
						}
					}
				}

				.btn__upload {
					display: inline-block;
					width: calc(50% - 10px);
					margin-left: 20px;
					background: $white;
					border: 0;
					border-radius: 6px;
					box-shadow: 3px 3px 18px -3px #333;
					position: relative;
					cursor: pointer;

					.btn__cont {
						margin: 0 auto;
						display: table;

						.assets__container {
							display: table-cell;
							height: 35px;
							vertical-align: middle;
							
							.ico__btn {
								width: 30px;
								margin-left: -7vw;
							}

							.txt__btn {
								width: 72px;
							}
						}
					}
				}

				input[type="file"] {
					position: absolute;
					top: 0;
					width: 255px;
					height: 35px;
					opacity: 0;
					z-index: 4;
				}
			}
		} /* .button__container */

		.scroll__container {
			.scroll__btn {
				display: block;
				margin: 39px auto 0;
				width: 48px;
			}
		} /* .scroll__container */

		.archive__container {
			padding-bottom: 90px;

			.container__header {
				margin-top: 78px;
				text-align: center;

				&.eng {
					img {
						margin: 0 auto;
						width: 384px;
					}
				}

				img {
					width: 400px;
				}
			}

			.archive__select {
				margin-top: 35px;

				.archive__selectInput {
					display: inline-block;
					vertical-align: top;

					.container__inner {
						padding: 0 5px;
						box-sizing: border-box;
					}
				}
			}

			.research__container {
				width: 486px;
				display: inline-block;
				vertical-align: top;

				.btn__research {
					margin-top: 6px;
				}
			}
		} /* .archive__container */
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.btn--close {
		margin-bottom: 50px !important;
	}
}

/******************************
    SP
*******************************/

@include media($mobileSize) {
	.home {
		width: auto;
		display: block;

		.main__container {

			.language__container {
				position: absolute;
				top: 8px;
				right: 10px;
				width: auto;
				left: auto;

				.language__list {
					display: block;
					height: 4vw;

					a {
						width: 13.5vw;
						border: 1px solid $violet;
		
						&.lang__jp {
							img {
								width: 7vw;
							}
						}

						&.lang__en {
							img {
								width: 7vw;
							}
						}
					}
				}
			}

			.container {
				.container__inner {
					.archive__list {
						margin-top: 28px;
					}
				}
			}

			.home__container01 {
				padding: 50px 35px 22px;

				.container__inner {
					display: flex;
					flex-direction: column;

					.top__picSample {
						order: 2;
						margin: 0 auto;
						margin-top: 20px;
						width: 100%;

						p {
							margin-top: 15px;
							font-size: 3.5vw;
							font-weight: bold;
							line-height: 1.69;
							letter-spacing: 0.04em;
							text-align: left;
						}

						.main_txt {
							margin-top: 36px;
							width: 95%;
						}
					}

					.top__description {
						order: 1;
						margin: 0 auto;
						width: 100%;

						.img__container01 {
							display: table;
							width: 102%;

							& > div {
								display: table-cell;
								vertical-align: middle;
							}

							.ntt__img {
								width: 123px;
							}

							.anniv__img {
								width: 71px;
								padding-left: 7px;
							}
						}

						.img__container02 {
							margin-top: 15px;
							width: 100%;
						}

						.img__container03 {
							margin-top: 15px;
							width: 100%;
						}

						p {
							margin-top: 22px;
							font-weight: bold;
							line-height: 1.6;
							text-align: left;
						}
					}
				}
			}

			.mainUse__container {
				margin: 15px 0 0;
				width: 100%;

				&.js-accordion {
					.container__header::after {
						content: '';
						background-image: url('../img/top/ico_add.png');
					}
				}

				.container__header {
					cursor: pointer;
					padding: 16px 0;

					&::after {
						content: '';
						width: 23px;
						height: 23px;
						background-image: url('../img/top/ico_minus.png');
						background-size: 23px auto;
						background-position: center;
						background-repeat: no-repeat;
						position: absolute;
						top: 50%;
						right: 10px;
						color: $white;
						font-size: 16px;
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						transform: translateY(-50%);
					}

					.img__container {
						width: 30%;
					}
				}
			}

			.terms__container {
				margin: 30px auto 0;
				width: 100%;
				max-width: 79%;
				padding: 7px 0;
				border-radius: 5px;

				.inner__container {

					.p__container {
						padding-left: 11px;

						p {
							font-size: 2.5vw;

							span, a {
								font-size: 2.5vw;
							}
						}
					}
				}
			}	

			.button__container {
				margin-top: 15px;
				max-width: 79%
			}

			.mainUse__container {
				.content__container {

					.use__container {
						display: block;
						width: 100% !important;
						height: auto !important;
						position: relative;

						&:not(:last-child) {
							&::after {
								top: auto;
								bottom: -7.5px;
								left: 0;
								right: 0;
								transform: none;
								border-style: solid;
								border-width: 7.5px 7.5px 0 7.5px;
								border-color: $blue transparent transparent transparent;
							}
						}

						&.use__container02 {
							.container__inner {
								&::after {
									border-color: $violet transparent transparent transparent;
								}
							}
						}

						.container__inner {
							position: relative;
							padding: 20px 0;

							.step__container {
								position: relative;

								.counter__container {
									position: absolute;
									width: 7%;
									left: 20px;
									top: 50%;
									right: auto;
									display: inline-block;
									-webkit-transform: translateY(-50%);
									-moz-transform: translateY(-50%);
									transform: translateY(-50%);
								}

								.cont__img {
									position: relative !important;
									top: auto;
									transform: none;
								}
							}
						}
					}


					.use__container01 {

						.container__inner {
							padding: 0;

							.cont__img {
								max-width: 68% !important;
								padding: 0;

								img {
									min-width: 171px !important;
								}
							}

							.stepimg__container {
								padding: 0;
							}

							.step__container {
								padding: 15px 0;

								&.padding-eng {
									.stepimg__container {
										margin: 0 auto;

										.step__item {
											p {
												text-align: left;
											}
										}
									}
								}

								.stepimg__container {
									margin: 0 auto;

									.step__item {
										&:first-child {
											figure {
												width: 14vw;
											}
										}

										&:nth-of-type(2) {
											figure {
												width: 10vw;
											}
										}

										&:nth-of-type(3) {
											figure {
												width: 16vw;
											}
										}
									}
								}
							}
						}
					}

					.use__container02 {

						.container__inner {
							padding: 15px 0;

							.cont__img {
								margin-top: 0;
								width: 100%;
								max-width: 68%;

								img {
									margin-left: 12px;
									min-width: 171px !important;
								}
							}

							.step__container {

								&:first-child {
									.stepimg__container {
										margin-top: 0;
									}
								}

								&:last-child {
									.stepimg__container {
										margin-bottom: 0;
									}
								}

								p {
									font-size: 3vw;
								}

								p.en {
									text-align: left;
									width: 68%;
									margin-left: auto;
									margin-right: auto;
								}

								&.anotherRow {
									.stepimg__container {
										display: block;

										&:first-child {
											.step__item {
												margin: 0 auto;
												display: block;
												min-width: 70px;
												max-width: 80%;

												figure {
													margin-top: 10px;
													width: 100%;
													padding: 0;
													width: 100%;
												}
											}
										}
									}
								}

								.stepimg__container {

									.step__item {
										&:first-child {
											min-width: 70px;

											figure {
												margin-top:3px;
												width: 12vw;
											}
										}
										&:nth-of-type(2) {
											figure {
												width: 11.5vw;
											}
										}
										&:nth-of-type(3) {
											min-width: 77px;

											figure {
												width: 13.7vw;
											}
										}
									}
								}	
							}
						}
					}

					.use__container03 {

						.container__inner {

							&::after {
								content: '';
							}

							.cont__img {
								margin-bottom: 15px;
								margin-top: -15px;
								max-width: 62%;

								img {
									min-width: 182px !important;
								}
							}
							
							.step__container {
								margin: 0 auto;
								width: 100%;

								&.padding-eng {
									margin: 0 auto;
								}

								.stepimg__container {
									padding: 0;

									.step__item {
										&:first-child {
											min-width: 60px;

											figure {
												width: 14vw;
											}
										}

										&:nth-of-type(2) {
											figure {
												width: 13vw;
											}
										}

										&:nth-of-type(3) {
											min-width: 70px;

											figure {
												width: 19.8vw;
											}
										}
									}
								}

								p.en {
									width: 61%;
									font-size: 3vw;
								}
							}
						}
					}
				}
			} /* .mainUse__container */

			.button__container {

				.container__inner {
					.btn__camera,
					.btn__upload {
						padding: 0;
					}

					.btn__camera {
						display: block;
						width: 100%;
						margin: 15px auto 0;

						.btn__cont {

							.assets__container {

								.ico__btn {
									width: 16px;
									margin-left: -8vw;
								}

								.txt__btn {
									width: 15.5vw;
									max-width: 65px;
								}
							}
						}
					}

					.btn__upload {
						display: block;
						width: 100%;
						margin: 15px auto 0;

						.btn__cont {
							display: table;

							.assets__container {
								
								.ico__btn {
									width: 13px;
									margin-left: -8vw;
								}

								.txt__btn {
									width: 14.5vw;
									max-width: 65px;
								}
							}
						}
					}

					input[type="file"] {
						position: absolute;
						top: 0;
						width: 255px;
						height: 35px;
						opacity: 0;
						z-index: 4;
					}
				}
			}

			.scroll__container {
				.scroll__btn {
					display: block;
					margin: 13px auto 0;
					width: 7.5%;
				}
			}

			.archive__container {
				padding-bottom: 20px;
				max-width: 96%;

				.container__header {
					margin-top: 40px;
					text-align: center;

					&.eng {
						img {
							width: 60%;
							min-width: 192px;
						}
					}

					img {
						max-width: 65%;
					}
				}

				.container__inner {
					box-sizing: border-box;
				}

				.archive__select {
					width: 100%;
					margin-top: 12px;
					max-width: 82%;
				}

				.research__container {
					margin-top: 15px;
					position: relative;
					float: none;
					width: 100%;

					.btn__research {
						margin-top: 0;
						background-image: none;
						height: 7vw;
						min-height: 40px;
						box-sizing: border-box;
					}

					.float--img {
						position: absolute;
						top: 50%;
						left: 0;
						right: 9%;
						transform: translateY(-50%);
						margin: 0 auto;
						width: 23.4vw;
						max-width: 110px;
					}
				}
			}
		}
	}
}