<!DOCTYPE html>
<html class="no-js" lang="ja">
{{> head}}

<body class="home" id="top">
	<div class="main__container">
		{{> language_select}}
		<div class="container home__container01">
			<div class="container__inner">
				<div class="top__picSample">
					<div class="img__container00">
						<img src="./assets/img/top/pic_sample.jpg" alt="">
					</div>
					<img id="TOP_MAIN_TXT" src="/assets/img/top/top_main_txt_sp.svg" class="sp main_txt" alt="">
				</div>
				<div class="top__description">
					<div class="img__container01">
						<img src="/assets/img/top/top_main.svg" alt="">
					</div>
					<div class="img__container02 pc">
						<img id="HOME_VISION_IMG" src="./assets/img/top/top_main_txt.svg" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- .home__container01 -->
		<div class="container mainUse__container">
			<div class="container__header">
				<div class="img__container">
					<img src="./assets/img/top/txt_howtouse.svg" alt="">
				</div>
			</div>
			<div class="content__container">
				<div class="container use__container use__container01">
					<div class="container__inner">
						<div class="add-padding step__container">
							<div class="stepimg__container">
								<div class="cont__img">
									<img id="STEP1_IMG" src="./assets/img/top/use_container01.svg" alt="">
								</div>
								<div class="counter__container">
									<img src="./assets/img/top/txt_step01.svg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .use__container01 -->
				<div class="container use__container use__container02">
					<div class="container__inner">
						<div class="step__container">
							<div class="stepimg__container">
								<div class="cont__img">
									<img id="STEP2_IMG" src="./assets/img/top/use_container02.svg" alt="">
								</div>
								<div class="counter__container">
									<img src="./assets/img/top/txt_step02.svg" alt="">
								</div>
							</div>
						</div>
						<div class="step__container anotherRow">
							<div class="stepimg__container">
								<div class="step__item">
									<figure>
										<img id="HOME_EXAMPLE_USE_IMG" src="./assets/img/top/pic_10.svg" alt="">
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .use__container03 -->
				<div class="container use__container use__container03">
					<div class="container__inner">
						<div class="add-padding step__container">
							<div class="stepimg__container">
								<div class="cont__img">
									<img id="STEP3_IMG" src="./assets/img/top/use_container03.svg" alt="">
								</div>
								<div class="counter__container">
									<img src="./assets/img/top/txt_step03.svg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .use__container03 -->
			</div>
		</div>
		<!-- .mainUse__container -->
		<div class="terms__container">
			<div class="inner__container">
				<div class="custom__checkbox">
					<label class="container">
						<input type="checkbox" class="termsandcondition">
						<span class="checkmark"></span>
					</label>
				</div>
				<div class="p__container">
					<p id="TERMS_BUTTON">
						<a href="javascript:void(0)" class="terms__link">利用規約</a>に同意します。</p>
				</div>
			</div>
		</div>
		<!-- .terms__container -->
		<div class="container button__container">
			<div class="container__inner">
				<a id="shooting_link" href="/shooting?lang=jp" class="btn__camera">
					<div class="btn__cont">
						<div class="assets__container">
							<img src="./assets/img/top/ico_camera.png" alt="" class="ico__btn">
						</div>
						<div class="assets__container">
							<img src="./assets/img/top/txt_camera.png" alt="" class="txt__btn pc">
							<img src="./assets/img/top/txt_camera_sp.png" alt="" class="txt__btn sp">
						</div>
					</div>
				</a>
				<a id="select_link" href="/select?lang=jp" class="btn__upload">
					<div for="upload" class="btn__cont">
						<div class="assets__container">
							<img src="./assets/img/top/ico_upload.png" alt="" class="ico__btn">
						</div>
						<div class="assets__container">
							<img src="./assets/img/top/txt_upload.svg" alt="" class="txt__btn">
						</div>
					</div>
				</a>
			</div>
		</div>
		<!-- .home__container05 -->
		<div class="container scroll__container">
			<a href="#footer" class="scroll__btn">
				<img src="./assets/img/top/ico_scroll.svg" alt="">
			</a>
		</div>
		<div class="container archive__container">
			<div class="container__header">
				<img id="HOME_TRUSTED_IMG" src="./assets/img/top/txt_trustedglobalinnovator.svg" alt="">
			</div>
			<div class="container__inner">
				<div class="archive__select">
					<div class="archive__selectInput">
						{{!--
						<select name="workLocationArchiveSearch" id="workLocationArchiveSearch" class="btn__list">
							<option value="000">WORKING LOCATION</option>
							{{#each workLocations as |location|}}
							<option class="{{location.work_location_name}}" value="{{location.work_location_id}}">{{lang 'LOCATIONS' location.work_location_name}} </option>
							{{/each}}
						</select> --}} {{!--
						<input list="workingLocationList" placeholder="WORKING LOCATION" id="workingLocationSearchList" class="btn__list workingLocList"> --}}
						<input placeholder="WORKING LOCATION" id="workingLocationSearchList" class="btn__list workingLocList">
						<datalist id="workingLocationList">
							{{#each workLocations as |location|}}
							<option class="{{location.work_location_name}}" id="{{location.work_location_id}}" name="{{lang 'LOCATIONS' location.work_location_name}}">{{lang 'LOCATIONS' location.work_location_name}} </option>
							{{/each}}
						</datalist>
						<div style="display: none;" class="autocomplete">
							<input type="text" placeholder="WORKING LOCATION" id="iosWorkingLocationSelect" class="btn__list iosWorkingLocList">
							<input type="hidden" id="workingLocationIdSelected" value="">
						</div>
						<div class="companySearch">
							{{!--
							<input list="companyDatalist" placeholder="COMPANY" name="companyArchiveSearchList" id="companyArchiveSearchList" class="btn__list company_searchlist"> --}}
							<input placeholder="COMPANY" name="companyArchiveSearchList" id="companyArchiveSearchList" class="btn__list company_searchlist">
							<datalist id="companyDatalist">
								{{#each companyList as |list|}}
								<option id="{{list.company_id}}" class="{{list.company_name}}" name="{{lang 'COMPANIES' list.company_name}}">{{lang 'COMPANIES' list.company_name}}</option>
								{{/each}}
							</datalist>
							<div style="display: none;" class="autocomplete">
								<input type="text" placeholder="COMPANY" id="iosCompanySelect" class="btn__list iosCompanySelectListClass">
								<input type="hidden" id="idSelected" value="">
							</div>
						</div>
					</div>
					<div class="research__container">
						<input type="submit" id="searchBtn" class="btn__research" value="">
						<span class="float--img sp"><img src="./assets/img/common/ico_search_sp.png" alt=""></span>
					</div>
				</div>
				<div class="archive__list pc">
					<div class="allUsers">
						{{#each users as |user|}}
						<div class="archive__items reveal">
							<img id="image_{{user.user_id}}" src="./images/{{user.user_image_filepath}}" data-userImageFilePath="./images/{{user.user_image_filepath}}" data-userComment="{{user.user_comment1}}" data-companyName="{{#unless user.company_name}}{{user.custom_company}}{{/unless}}{{lang 'COMPANIES' user.company_name}}" data-workLocation="{{#unless user.work_location_name}}{{/unless}}{{lang 'LOCATIONS' user.work_location_name}}" class="{{user.work_location_name}} {{user.company_name}}">
						</div>
						{{/each}}
					</div>
				</div>
				<div class="archive__list sp">
					<div class="allUsers">
						{{#each users as |user|}}
						<div class="archive__items reveal">
							<img id="image_{{user.user_id}}" src="./images/{{user.user_image_filepath}}" data-userImageFilePath="./images/{{user.user_image_filepath}}" data-userComment="{{user.user_comment1}}" data-companyName="{{#unless user.company_name}}{{user.custom_company}}{{/unless}}{{lang 'COMPANIES' user.company_name}}" data-workLocation="{{#unless user.work_location_name}}{{/unless}}{{lang 'LOCATIONS' user.work_location_name}}" class="{{user.work_location_name}} {{user.company_name}}">
						</div>
						{{/each}}
					</div>
				</div>
				<!-- .archive__list -->
			</div>
		</div>
		<!-- .archive__container -->
		<div style="display: none;" class="container loader__container">
			<div class="loader__item"></div>
			<span>LOADING...</span>
		</div>
	</div>
	<!-- .main__container -->
	<div class="modal__container archive__modal" id="modal__01">
		<a href="javascript:void(0)" class="btn__close sp">
			<img src="./assets/img/common/ico_close.png" alt="">
		</a>
		<div class="modal__fix pc">
			<a href="javascript:void(0)" class="btn__close">
				<img src="./assets/img/common/ico_close.png" alt="">
			</a>
		</div>
		<div class="modal__content">
			<div class="image__container">
				<img id="img-userImage" src="./assets/img/common/pic_filtered.jpg" alt="">
				<div class="navigation__container">
					<a href="javascript:void(0)" class="nav__arrow nav__arrow--left"><img src="./assets/img/common/ico_left.svg" alt=""></a>
					<a href="javascript:void(0)" class="nav__arrow nav__arrow--right"><img src="./assets/img/common/ico_right.svg" alt=""></a>
				</div>
			</div>
			<div class="details__container">
				<div class="summary__content">
					<table>
						<tr>
							<td class="work_location_modal_label">WORKING LOCATION</td>
							<td id="td-workLocationModal">JAPAN</td>
						</tr>
						<tr>
							<td class="company_modal_label">COMPANY</td>
							<td id="td-companyModal">NTT DATA</td>
						</tr>
						<tr>
							<td class="comment_modal_label">COMPANY</td>
							<td>
								<span class="question--span">あなたの座右の銘を教えてください。</span>
								<span id="span-userComment" class="answer--span">
									モンゴンアタリデス。モンゴンアタリデス。モンゴンアタ
								</span>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<!-- .navigation__container -->
		</div>
	</div>
	<div class="modal__container terms__modal" id="modal__01">
		<a href="javascript:void(0)" class="btn__close sp">
			<img src="./assets/img/common/ico_close.png" alt="">
		</a>
		<div class="modal__fix pc">
			<a href="javascript:void(0)" class="btn__close">
				<img src="./assets/img/common/ico_close.png" alt="">
			</a>
		</div>
		<div id="TERMS_JP" class="modal__content">
			<h2>利用規約</h2>
			<p>本利用規約（以下「本規約」といいます）は、株式会社エヌ・ティ・ティ・データ（以下「当社」といいます）が提供する「1.サービス」において定義されるサービス（以下「本サービス」といいいます）についての利用条件を定めるものです。<br>本規約に同意いただくことで、お客様は本サービスを利用することができます。本規約（本規約が改定された場合は、その改定版。）に同意しない場合は、お客様は本サービスを利用してはなりません。 </p>
			<h3>1.本サービスの内容</h3>
			<p>当社がお客様に提供する本サービスは、以下のサービスによって構成されます。</p>
			<ol class="no--disc">
				<li>スマートフォンまたはパソコンからアクセス可能な専用サイト（以下「本専用サイト」といいます）に投稿されたお客様の写真を、当社のGroup Vision「Trusted Global Innovator」仕様のデザイン（当社のGroup Visionである「Trusted」「Global」「Innovator」の各単語、並びに当社のValuesである「Clients First」「Teamwork」「Foresight」及びそれらの解説文等の文字によって構成されたデザイン）に変換したポートレート画像（以下「本コンテンツ」といいます）を生成し、ダウンロードできるようにするサービス。</li>
				<li>本専用サイトにおいて、お客様の本コンテンツ及び「2.お客様情報」において定義されるお客様情報を配信するとともに、お客様以外の第三者が生成した本コンテンツ及び「2.お客様情報」において定義されるお客様情報を閲覧することができるようにするサービス。</li>
			</ol>
			<h3>2.お客様情報</h3>
			<p>本サービスを提供するためには、個人情報を含むお客様の情報（以下「お客様情報」といいます。）を収集し、利用する必要があります。本条では、お客様情報の取扱いについて、定めます。</p>
			<ul class="no--disc">
				<li>(1) 当社は、本サービスを提供するために、以下各号のお客様情報を収集します。
					<ul class="no--disc">
						<li>① お客様の写真</li>
						<li>② お客様の職場に関する情報</li>
						<li>③ お客様が所属する会社の名称</li>
						<li>④ お客様が本専用サイトに登録される当社Group Visionに対する思い</li>
						<li>⑤ その他、本サービスを提供するために必要となる情報</li>
					</ul>
				</li>
				<li>(2) 当社は、お客様情報を、以下各号の目的で利用します。
					<ul class="no--disc">
						<li>① 本サービスの提供</li>
						<li>② あらゆる媒体（現時点で既知であるかまたは将来発明されるかを問いません。）での開示</li>
						<li>③ 当社公式サイトへの掲載、本コンテンツ又はお客様情報を組み込んだ動画の制作、当社宣伝素材への活用等、当社のマーケティングおよびプロモーション</li>
					</ul>
				</li>
				<li>(3) 当社は、お客様情報について、以下に定める場合を除き、第三者に開示しないものとします。
					<ul class="no--disc">
						<li>① 前項に定める利用目的の達成に必要な範囲内において、第三者に開示する場合</li>
						<li>② 個人情報の開示や利用についてお客様の個別の同意がある場合</li>
						<li>③ 法令に基づく場合</li>
						<li>④ 当社、お客様その他の第三者の生命、身体もしくは財産、又は本サービスの保護のために必要がある場合であって、お客様本人の同意を得ることが困難であるとき</li>
						<li>⑤ 公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、お客様本人の同意を得ることが困難であるとき</li>
					</ul>
				</li>
				<li>(4) 当社は、お客様情報のうち個人情報に該当する情報ついて、当社のプライバシーポリシー（<a href="http://www.nttdata.com/jp/ja/privacy_policy/index.html" target="_blank">http://www.nttdata.com/jp/ja/privacy_policy/index.html</a>）に基づき取り扱うものとします。</li>
				<li>(5) 本サービスにおける、当社の問い合わせ窓口は以下のとおりです。
					<p>ご自身のお客様情報に対する開示、削除、訂正または利用停止の請求、本サービスにおけるお客様情報の取扱いについてのご質問等がある場合は、問い合わせ窓口までご連絡ください。 <br>株式会社エヌ・ティ・ティ・データ <br>広報部 <br><a href="mailto:nttdata_30th@kits.nttdata.co.jp">nttdata_30th@kits.nttdata.co.jp</a></p></li>
			</ul>
			<h3>3. 本サービスの利用資格・禁止事項等</h3>
			<ul class="no--disc">
				<li>(1)　本サービスの利用資格<br>以下の各号に該当する場合、本サービスを利用することはできません。
					<ul class="no--disc">
						<li>① お客様の年齢が満18歳未満である場合</li>
						<li>②　過去、当社が本サービスの全部または一部の提供を中止したことがある場合</li>
					</ul>
				</li>
				<li>(2)　お客様の禁止事項<br>お客様は、本サービスの利用に際して、次の各号の行為を行ってはなりません。
					<ul class="no--disc">
						<li>① 不正確な情報を提供すること。</li>
						<li>② 自身ではない誰かに成り代わり、本サービスを利用し、またはお客様情報を提供すること。</li>
						<li>③ 当社や第三者に対する誹謗中傷、侮辱、又は名誉や信用を毀損する行為</li>
						<li>④ 法令、または公序良俗に違反する行為。</li>
						<li>⑤ 本規約及び当社のポリシーに違反する行為、又はそれらを助長する行為。</li>
						<li>⑥ 本サービスの運営を妨害する行為、またはそのおそれがある行為。</li>
						<li>⑦ 第三者の個人情報、機密情報、またはわいせつな内容を含む情報を投稿、またはアップロードする行為。</li>
						<li>⑧ 第三者の知的財産権、プライバシー等の個人の権利、その他第三者が有する一切の権利を侵害する行為。</li>
						<li>⑨　当社による明示的、または事前に書面により許可を得ていない当社または当社の親会社の商標、標章、その他当社が知的財産権を有するコンテンツを利用する行為。</li>
						<li>⑩本サービスのソースコードの改変、その派生作品の開発、デコンパイル、リバース・エンジニアリング等の方法によりソースコードを抽出し、または利用する行為。</li>
						<li>⑪その他、当社が不適切と判断する行為。</li>
					</ul>
				</li>
				<li>(3) 禁止事項に抵触した場合の対応
					<p>　　当社は、お客様が本サービスにおいて投稿するお客様情報、または本コンテンツが前条各号のいずれかに該当すると判断した場合は、当該お客様情報、または本コンテンツを、本専用サイトにおける配信を拒否し、または削除することができます。<br>　　　　また、この場合、当社は、直ちに、本サービスの全部または一部の提供を中止することができます。当社が、本サービスの全部または一部の提供を中止する場合は、必要に応じてお客様に通知します。</p></li>
			</ul>
			<h3>4.お客様のコンテンツにかかる権利およびコンテンツに対する権利の許諾</h3>
			<ul class="no--disc">
				<li>(1)  お客様情報、または本コンテンツにおけるお客様の権利は、お客様に留保されるものとし、本サービスを利用したことを理由として、当社に移転することはありません。ただし、当社が知的財産権を有するコンテンツをお客様が利用し、本コンテンツを作成した場合は、当社が知的財産権を有するコンテンツにかかる一切の権利は、当社に留保されます。</li>
				<li>(2) お客様は、本サービスを利用するにあたり、お客様情報、または本コンテンツ及びその派生作品を利用、コピー、複製、処理、改変、修正、公表、送信、上演、表示および配信するための、世界的かつ非独占的ライセンス（サブライセンスを許諾する権利も含みます。）を、当社に対し無償で許諾するものとします。</li>
			</ul>
			<h3>5.お客様からのフィードバック等の利用</h3>
			<ul class="no--disc">
				<li> (1) 当社は、お客様からの本サービスに関するフィードバックその他の提案について、無償で利用することができるものとします。</li>
			</ul>
			<h3>6.免責</h3>
			<ul class="no--disc">
				<li> (1) 当社は、本サービスおよび本サービスに含まれる一切の情報について、その合法性、安全性、確実性、適切性、妥当性、道徳性、権利の非侵害を保証しないものとします。</li>
				<li>(2) 本サービスに起因してお客様に発生した一切の損害について、当社に故意または重過失がある場合を除き、責任を負わないものとします。</li>
			</ul>
			<h3>7.権利義務の譲渡</h3>
			<ul class="no--disc">
				<li> (1) お客様は、当社の事前の承諾がない限り、本規約に基づくお客様の権利または義務の全部または一部を他に譲渡することはできません。</li>
				<li>(2) 当社は、お客様の承諾を必要とすることなく、本規約に基づく当社の権利と義務の全部または一部を他に譲渡することができます。</li>
			</ul>
			<h3>8.準拠法・管轄裁判所</h3>
			<ul class="no--disc">
				<li>(1) 本規約は日本法に準拠し、同法によって解釈されるものとします。</li>
				<li>(2) 本規約に関する一切の訴訟その他の紛争については、東京簡易裁判所または東京地方裁判所を第一審の専属的合意管轄裁判所とします。</li>
			</ul>
			<h3>9.本規約の改定</h3>
			<ul class="no--disc">
				<li>(1) 当社は、当社が必要と判断した場合には、本規約を改定することができるものとします。</li>
				<li>(2) 当社は、本規約を改定しようとする場合、当社が適切と認める方法により、事前にお客様に通知するものとします。</li>
				<li>(3) 本契約の改定後、お客様が本サービスを利用した場合は、お客様は改定後の本規約に同意したものとみなされ、お客様は改定後の本規約に拘束されます。</li>
			</ul>
			<p class="datetime jp">2018年9月18日　制定</p>
		</div>
		<div id="TERMS_EN" style="display: none;" class="modal__content">
			<h2>Terms of use</h2>
			<p>These Terms of Use (“Terms”) govern your use of Service and provide information about the Service, outlined below. When you use Service, you agree to be bound to these Terms and Privacy Policy. Your consent to the Terms and Privacy Policy constitutes an agreement between You and NTT Data (“Agreement”). If you do not want to agree to these Terms and Privacy Policy or update thereof, you shall not use the Service. </p>
			<h3>The Service </h3>
			<p>We agree to provide you with the Service. The Service includes all of the features, applications, services, technologies, and software that we provide to advance our mission: To bring NTT Data community closer and promote our 30th anniversary. The Service is made up of the following aspects (the Service):</p>
			<ul>
				<li><b>Developing and using technologies to bring NTT Data community closer.</b>
					<br>A big part of our Service is creating and using cutting-edge technologies that help us improve our Service on an incredibly large scale for a broad global community. </li>
				<li>The Service creates downloadable mosaic photograph using photos uploaded by you. Mosaic photograph is made up of phrases such as NTT Data’s group vision, “trusted global innovator” and our values, (i) clients first, (ii) teamwork, and (iii) foresight.</li>
				<li>The Service also displays the mosaic photograph in NTT Data’s promotion site, <a href="https://nttdata-portraits.com/?lang=en">https://nttdata-portraits.com/</a> and NTT Data’s marketing and promotion to any media whether now known or invented in the future without any compensation to you.</li>
			</ul>
			<h3>The Data Policy</h3>
			<p>Providing our Service requires collecting and using your information. As stated under “Permissions You Give to Us”, you give us permission to show your personal data (defined below) next to or in connection with our marketing and promotion to any media whether now known or invented in the future without any compensation to you. The information we collect are your photo, working place and company name (“Personal Data”). To provide our global Service, we must store and transfer data across our systems around the world, including outside of your country of residence. This infrastructure may be owned or operated by our affiliates and our subcontractor, amana inc. and COMMUDE, Inc. The Privacy Policy explains how we collect, and use Personal Data in the Service. You must agree to the Privacy Policy [
				<a href="https://www.nttdata.com/global/en/privacy-statement" target="_blank">https://www.nttdata.com/global/en/privacy-statement</a><a href="https://www.nttdata.com/global/en/privacy-statement-for-gdpr" target="_blank"> https://www.nttdata.com/global/en/privacy-statement-for-gdpr</a>] to use Service. You are entitled to withdraw your consent given in this form at any time by sending us notice of withdrawal to nttdata_30th@kits.nttdata.co.jp. Where you are the responsible adult accompanying a child for the purposes of using this Service, and you are their parent or guardian, you consent to their images being taken and used in accordance with the provisions of this paragraph. Where you are the responsible adult accompanying a child for the purposes of using this Service and you are not their parent or guardian, you must obtain the consent of the child's parent or guardian for the images of such child to be taken and used in accordance with the provisions of this paragraph. We will ensure that we and those acting on our behalf obtain, use and disclose Personal Data lawfully and correctly. For more information please read the Privacy Policy [
				<a href="https://www.nttdata.com/global/en/privacy-statement" target="_blank">https://www.nttdata.com/global/en/privacy-statement</a>,
				<a href="https://www.nttdata.com/global/en/privacy-statement-for-gdpr" target="_blank">https://www.nttdata.com/global/en/privacy-statement-for-gdpr</a>]. If you have any questions regarding this consent, please contact nttdata_30th@kits.nttdata.co.jp.</p>
			<h3>Your Commitments</h3>
			<p>In return for our commitment to provide the Service, we require you to make the below commitments to us.
				<br>
				<b>Who Can Use Service.</b> We want our Service to be as open and inclusive as possible, but we also want it to be safe, secure, and in accordance with the law. So, we need you to commit to a few restrictions in order to be part of the NTT Data community. </p>
			<ul>
				<li>You must be at least 18 years old or the minimum legal age in your country to use the Service.</li>
				<li>You must not be prohibited from receiving any aspect of our Service under applicable laws.</li>
				<li>We have not previously disabled your account for violation of law or any of our policies.</li>
			</ul>
			<h4>
				<b>How You Can't Use Service.</b>
			</h4>
			<ul>
				<li>
					<b>You can't impersonate others or provide inaccurate information.</b>
				</li>
				<li>
					<b>You may not impersonate someone you aren't, and you can't create an account for someone else unless you
						have their express permission.</b>
				</li>
				<li>
					<b>You can't do anything unlawful, misleading, or fraudulent or for an illegal or unauthorized purpose.</b>
				</li>
				<li>
					<b>You can't violate (or help or encourage others to violate) these Terms or our policies.</b>
				</li>
				<li>
					<b>You can't do anything to interfere with or impair the intended operation of the Service.</b>
				</li>
				<li>
					<b>You can't post private or confidential information or do anything that violates someone else's rights,
						including intellectual property.</b>
				</li>
				<li>
					<b>You hereby warrant that your entry and all information which you submit and/or distribute will not infringe
						the intellectual property, privacy or any other rights of any third party, and will not contain anything
						which is libelous, defamatory, obscene, indecent, harassing, threatening, or harms NTT Data’s reputation
						in any ways. If relevant, we reserve the right, but not the obligation, to screen, filter and/or
						monitor information provided by you and to edit, refuse to distribute or remove the same.</b>
				</li>
			</ul>
			<h4>
				<b>Permissions You Give to Us.</b> As part of our Agreement, you also give us permissions that we need to provide
				the Service. </h4>
			<ul>
				<li>
					<b>We do not claim ownership of your content, but you grant us a license to use it.</b>
					<br> Nothing is changing about your rights in your content. We do not claim ownership of your content that you post on the Service. Instead, when you share, post, or upload content that is covered by intellectual property rights (like photos or videos) on or in connection with our Service, you hereby grant to us a non-exclusive, royalty-free, transferable, sub-licensable, worldwide license to host, use, distribute, modify, run, copy, publicly perform or display, translate, and create derivative works of your content.
				</li>
				<li>
					<b>Permission to use your Personal Data</b>
					<br>You give us permission to show your Personal Data next to or in connection with our marketing and promotion to any media whether now known or invented in the future without any compensation to you.</li>
			</ul>
			<h4>
				<b>Additional Rights We Retain</b>
			</h4>
			<ul>
				<li>If you use content covered by intellectual property rights that we have and make available in our Service (for example, images, designs, videos, or sounds we provide that you add to content you create or share), we retain all rights to our content (but not yours).</li>
				<li>You can only use our intellectual property and trademarks or similar marks as expressly permitted by us or with our prior written permission.</li>
				<li>You must obtain written permission from us to modify, create derivative works of, decompile, perform reverse engineering, or otherwise attempt to extract source code from us.</li>
			</ul>
			<h4>
				<b>Content Removal and Disabling or Terminating Your Account</b>
			</h4>
			<ul>
				<li>We can remove any content or information you share on the Service if we believe that it violates these Terms, our policies, or we are permitted or required to do so by law. We can refuse to provide or stop providing all or part of the Service to you (including terminating or disabling your account) immediately to protect our community or services, or if you create risk or legal exposure for us, violate these Terms or our policies, if you repeatedly infringe other people's intellectual property rights, or where we are permitted or required to do so by law. If we take action to disable or terminate your account, we will notify you where appropriate. </li>
			</ul>
			<h4>
				<b>Our Agreement and What Happens if We Disagree</b>
			</h4>
			<h4>
				<b>Our Agreement.</b>
			</h4>
			<ul>
				<li>If any provision of these Terms is found to be invalid by any court having competent jurisdiction, the invalidity of that provision will not affect the validity of the remaining provisions of these terms and conditions, which shall remain in full force and effect.</li>
				<li>Any amendment or waiver to our Agreement must be in writing and signed by us. If we fail to enforce any aspect of this Agreement, it will not be a waiver.</li>
				<li>We reserve all rights not expressly granted to you.</li>
				<li>This Terms constitutes the entire agreement between you and us for the Service and any prior or contemporaneous representations, whether oral or written, implied or express, are hereby superseded.</li>
			</ul>
			<h4>
				<b>Who Has Rights Under this Agreement.</b>
			</h4>
			<ul>
				<li>This Agreement does not give rights to any third parties.</li>
				<li>You cannot transfer your rights or obligations under this Agreement without our consent.</li>
				<li>Our rights and obligations can be assigned to others. </li>
			</ul>
			<h4>
				<b>Who Is Responsible if Something Happens.</b>
			</h4>
			<ul>
				<li>Our Service is provided "as is," and we can't guarantee it will be safe and secure or will work perfectly all the time. TO THE EXTENT PERMITTED BY LAW, WE ALSO DISCLAIM ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.</li>
				<li>Our responsibility for anything that happens on the Service (also called "liability") is limited as much as the law will allow. If there is an issue with our Service, we can't know what all the possible impacts might be. You agree that we won't be responsible ("liable") for any lost profits, revenues, information, or data, or consequential, special, indirect, exemplary, punitive, or incidental damages arising out of or related to these Terms, even if we know they are possible. Nothing in the Terms shall limit any rights you may have which are not capable of being lawfully excluded or limited, nor shall these terms and conditions exclude or restrict our liability to you for any death or personal injury resulting from our negligence or breach of duty.</li>
				<li>You shall indemnify and, if so requested by us, defend us against any and all Claims (as defined below) by any third party, directly or indirectly, arising out of or in connection with this Agreement. “Claims” mean all losses, liabilities, damages, penalties, expenses (including legal fees and costs), claims, actions, and suits, whether in contract or tort, and whether caused by our negligence or otherwise.
				</li>
			</ul>
			<h4>
				<b>How We Will Handle Disputes.</b>
			</h4>
			<p>This Agreement and any dispute arising out of or in relation to shall be governed by and construed in accordance with the laws of Japan, excluding conflict of laws provisions. You expressly agree that the United Nations Convention on Contracts for the International Sale of Goods shall not apply.
				<br>
				<br>All disputes, controversies or differences which may arise between the parties hereto, out of or in connection with this Agreement, or the breach thereof, shall be finally settled by arbitration in Tokyo, Japan in accordance with the Commercial Arbitration Rules of the Japan Commercial Arbitration Association. The award rendered by the arbitrator(s) shall be final and binding upon the parties. Judgment upon the award may be entered in any court having jurisdiction thereof. The arbitration shall be conducted by three (3) arbitrators in English. </p>
			<h4>
				<b>Unsolicited Material.</b>
			</h4>
			<p>We always appreciate feedback or other suggestions, but may use them without any restrictions or obligation to compensate you for them, and are under no obligation to keep them confidential. </p>
			<h4>
				<b>Updating These Terms</b>
			</h4>
			<p>We may change our Service and policies, and we may need to make changes to these Terms so that they accurately reflect our Service and policies. Unless otherwise required by law, we will notify you (for example, through our Service) before we make changes to these Terms and give you an opportunity to review them before they go into effect. Then, if you continue to use the Service, you will be bound by the updated Terms. </p>
			<p class="datetime">September 18, 2018</p>
		</div>
		<a href="javascript:void(0)" class="btn__close btn--close"><img src="./assets/img/common/txt_close.svg" alt=""></a>
	</div>

	<div class="modal__container notif__modal">
		<div class="modal__content">
			<img id="NOTIF_DETAILS" src="{{lang 'MISC.NOTIF_DETAILS'}}" alt="" class="notif--txt">
			<table class="copy__container">
				<tr>
					<td>日本語</td>
					<td>
						<div class="copy__item">
							<input contenteditable="true" type="text" value="https://nttdata-portraits.com/?lang=jp" readonly="false">
							<button class="btn--copy">{{lang 'MISC.COPY'}}</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>English</td>
					<td>
						<div class="copy__item">
							<input contenteditable="true" type="text" value="https://nttdata-portraits.com/?lang=en" readonly="false">
							<button class="btn--copy">{{lang 'MISC.COPY'}}</button>
						</div>
					</td>
				</tr>
			</table> <!-- .copy__container -->
            <a href="javascript:void(0);" class="btn__template btn__okay">
                <img src="./assets/img/common/ico_ok.png" alt="" class="ico__btn">
                <span class="txt__btn">
                    <img src="./assets/img/common/txt_ok.svg" alt="">
                </span>
            </a>
		</div>
	</div>

	</div>
	{{> footer}}
</body>

</html>