<!DOCTYPE html>
<html class="no-js" lang="ja">

{{> head}}

<body class="child" id="top">

    <input type="hidden" id="hdn-video_height" name="hdn-video_height" />
    <input type="hidden" id="hdn-video_width" name="hdn-video_width" />

    {{> sub_pages/select_page}}

    {{!-- {{> sub_pages/shooting_page}} --}}

    {{> sub_pages/capture_page}}
    
    {{> sub_pages/reupload_page}}
    
    {{> sub_pages/filter_page}}
    
    {{> sub_pages/loader_page}}
    
    {{> sub_pages/filtered_page_confirm}}
    
    {{> sub_pages/filtered_page_download}}
    
    {{> sub_pages/details_page}}
    
    {{> sub_pages/summary_page this}}

    {{> sub_pages/archive_page this}}

    {{> footer}}

    <script src="/assets/js/select_page.js"></script>
    

    <script src="/assets/js/threejs/three.min.js"></script>
    <script src="/assets/js/threejs/OrbitControls.js"></script>
    <script src="/assets/js/threejs/EffectComposer.js"></script>
    <script src="/assets/js/threejs/ShaderPass.js"></script>
    <script src="/assets/js/threejs/RenderPass.js"></script>
    <script src="/assets/js/threejs/CopyShader.js"></script>
    <script src="/assets/js/threejs/bin_movie.js"></script>

    <script src="/assets/js/camera.js"></script>
    {{!-- <script src="/assets/js/camera_select.js"></script> --}}

    <script src="/assets/js/vendor/FileSaver.min.js"></script>
    
    <script src="/assets/js/save_image.js"></script>

</body>

</html>